{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load widget_tweaks %}

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript"
            src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel.js"></script>

    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>


    {% bootstrap_javascript_tag %}

<script type="text/javascript">

jQuery(document).ready(function () {

    jQuery('#activate_dialog').dialog({
                height: 200,
                width: 500,
                modal: true,
                position: [400, 500],
                dialogClass: 'success-dialog',
                close: function (event, ui) {
                    jQuery(this).dialog('destroy');
                    jQuery(outputHolder).dialog('destroy').remove();
                }
            });
                jQuery("#activate_dialog").next('.dialogbox').dialog('open');

    });
</script>
</head>

{% block content %}
    <div id="activate_dialog">
  <h1>Konto zostało aktywowane!</h1>
  {% load humanize %}
  {% if account %}
    <p>Dziękujemy za utworzenie konta! Możesz się teraz zalogować. Poniższy link pozwoli Ci wrócić na stronę główną.</p>
     <a href="{% url 'index' %}">Powrót do strony głównej</a>
  {% else %}
    <p>Przepraszamy - nie udało się aktywować konta. Być może aktywowałeś konto już wcześniej lub link aktywacyjny stracił ważność. Link aktywacyjny jest ważny przez {{ expiration_days|apnumber }} dni od otrzymania wiadomości. Zapraszamy do ponownej rejestracji.</p>
  {% endif %}
    </div>
{% endblock %}