<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style>
      input.required, error {
        border: 2px solid red;
      }

        .uimodal-output {
   background-color: #59313c;
}
    </style>
<script type="text/javascript">

</script>
{% block headblock %}{% endblock %}
    <title>{% block title %}Tagging Exploration{% endblock %}</title>
</head>
<div class="login-content">
<body>
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div>

        {% block content %}{% endblock %}
        {% block main_content %}{% endblock %}
</body>
    </div>

</html>