{% extends "registration/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block headblock %}
    <script type="text/javascript">
    jQuery('.wrapper').bind('click', function () {

        jQuery(this).parent(".form-group").after("<div class='form-group'><input class='login-input-pass-left' /></div>");

    });

    jQuery().ready(function () {

        jQuery.extend(jQuery.validator.messages, {
            required: "To pole jest wymagane!",
            remote: "Ten adres e-mail jest już zajęty!",
            email: "",
            url: "Please enter a valid URL.",
            date: "Please enter a valid date.",
            dateISO: "Please enter a valid date (ISO).",
            number: "Please enter a valid number.",
            digits: "Please enter only digits.",
            creditcard: "Please enter a valid credit card number.",
            equalTo: "Please enter the same value again.",
            accept: "Please enter a value with a valid extension.",
            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            minlength: jQuery.validator.format(""),
            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
            min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
        });

        jQuery.validator.addMethod("notDefaultText", function (value, element) {
            if (value == jQuery(element).attr('placeholder')) {
                return false;
            } else {
                return true;
            }
        });

        jQuery.validator.addMethod("nip", function (value, element) {
            var verificator_nip = new Array(6, 5, 7, 2, 3, 4, 5, 6, 7);
            var nip = value.replace(/[\ \-]/gi, '');
            if (nip.length != 10) {
                return false;
            } else {
                var n = 0;
                for (var i = 0; i < 9; i++) {
                    n += nip[i] * verificator_nip[i];
                }
                n %= 11;
                if (n != nip[9]) {
                    return false;
                }
            }
            return true;
        }, "Proszę o podanie prawidłowego numeru NIP");

        jQuery.validator.addMethod("regon", function (value, element) {
            var regon = value.replace(/[\ \-]/gi, '');
            if (regon.length != 9) {
                return false;
            }
            else {
                var arrSteps = new Array(8, 9, 2, 3, 4, 5, 6, 7);
                var intSum = 0;
                for (var i = 0; i < 8; i++) {
                    intSum += arrSteps[i] * regon[i];
                }
                var intb = intSum % 11;
                var intControlNr = (intb == 10) ? 0 : intb;
                if (intControlNr == regon[8]) {
                    return true;
                }
            }

        }, "Wprowadź prawidłowy REGON");


        jQuery.validator.addMethod("sameEmails", function (value, element) {
            if (value == jQuery(element).attr('placeholder')) {
                return false;
            } else {
                return true;
            }
        });

        jQuery.validator.addMethod("letters", function (value, element) {
            return this.optional(element) || /^[a-z]+$/i.test(value);
        }, "Pole musi zawierać jedynie litery!");

        jQuery('#companyRegistrationForm').validate({
            errorClass: 'errorfield',
            errorLabelContainer: '#errors',
            rules: {
                email: {
                    required: true,
                    email: true,
                    notDefaultText: true,
                    remote: {
                        url: "/validate/check/email/",
                        type: "post"
                    }
                },
                shop_name: {
                    required: true,
                    letters: true
                },
                shop_address: {
                    required: true
                },
                shop_vin: {
                    required: true,
                    nip: true
                },
                shop_regon: {
                    required: true,
                    regon: true
                },
                representant_name: {
                    required: true,
                    letters: true
                },
                representant_surname: {
                    required: true,
                    letters: true
                },
                shop_phone: {
                    required: true,
                    number: true
                },
                password1: {
                    required: true,
                    minlength: 8//,
                    //  notDefaultText: true
                },
                password2: {
                    required: true,
                    minlength: 8//,
                    // notDefaultText: true
                },
                accept_rules: {
                    required: true
                },
                submitHandler: function (form) {
                    jQuery('#companyRegistrationForm').submit();
                }
            },
            messages: {
                email: {
                    required: "Adres e-mail jest wymagany",
                    email: "Podaj poprawny adres e-mail!"
                },
                shop_name: {
                    required: "Nazwa firmy jest wymagana!"
                },
                shop_address: {
                    required: "Adres siedziby jest wymagany!"
                },
                shop_vin: {
                    required: "NIP jest wymagany!"
                },
                shop_regon: {
                    required: "Wpisz hasłoREGON jest wymagany!"
                },
                representant_name: {
                    required: "Nazwisko przedstawiciela jest wymagane!"
                },
                shop_phone: {
                    required: "Telefon jest wymagany!"
                },
                password1: {
                    required: "Wpisz hasło!"
                },
                password2: {
                    required: "Powtórz hasło!"
                },
                accept_rules: {
                    required: "Musisz zaakceptować regulamin!"
                }
            }
        });

        jQuery('#companyLoginForm').validate({
            errorClass: 'errorfield',
            errorLabelContainer: '#errors',
            rules: {
                username: {
                    required: true,
                    email: true,
                    notDefaultText: true
                },
                password: {
                    required: true
                },
                submitHandler: function (form) {
                    jQuery('#companyLoginForm').submit();
                }
            }
        });

        jQuery('#companyLoginForm').submit(function (event) {
            if (jQuery(this).valid()) {
                jQuery.ajax({
                    type: 'POST',
                    url: "/accounts/company/login/",
                    data: jQuery(this).serialize(),
                    error: function (data) {
                        var error = jQuery.parseJSON(data.responseText);
                        alert(error.error);
                        window.location.href = '{% url 'index' %}';
                    },
                    success: function (data) {
                        var success = jQuery.parseJSON(data.responseText);
                        alert(success.success);
                        jQuery('.popUp#user').dialog('destroy').remove()
                    }
                });
            }
            event.preventDefault();
        });

        jQuery('#companyRegistrationForm').submit(function (event) {
            if (jQuery(this).valid()) {
                jQuery.ajax({
                    type: 'POST',
                    url: "/accounts/company/register/",
                    data: jQuery(this).serialize(),
                    dataType: "html",
                    error: function (data, status, xhr) {
                        jQuery('.login-content').html(data);

                    },
                    success: function (data) {
                        jQuery('.login-content').html(data);

                    }
                });
            }
            event.preventDefault();

            return false;
        });

        jQuery('#companyEditForm').submit(function (event) {
            jQuery.ajax({
                type: 'POST',
                url: "/accounts/company/edit/",
                data: jQuery(this).serialize(),
                error: function (data) {
                    var error = jQuery.parseJSON(data.responseText);
                    alert(error.success);

                },
                success: function (data) {
                    var success = jQuery.parseJSON(data.responseText);
                    alert(success.success);
                    jQuery('.popUp#user').dialog('destroy').remove()
                }
            });
            event.preventDefault();

            return false;

        });

    });

    </script>

{% endblock %}

{% block title %}Logowanie/rejestracja{% endblock %}

{% block content %}
    {% if form_auth %}
        <h4>ZALOGUJ SIĘ!</h4>

        <form method="post" action="?next={{ next|default:"/" }}" id="companyLoginForm" class="form-inline" role="form">
            {% csrf_token %}
            {% comment %} <div class="labelEt">
                <span class="labelText">Nazwa użytkownika</span>
               <span class="labelText">Hasło</span>
            </div>{% endcomment %}
            <div class="form-group">
                {% if form_auth.username.errors %} <span class="error">{{ form_auth.username.errors|join:", " }}</span>
                {% endif %}
                {% render_field form_auth.username placeholder="NAZWA UŻYTKOWNIKA" class="login-input-pass-left" %}
                {% if form_auth.password.errors %} <span class="error">
            {{ form_auth.password.errors|join:", " }}</span>
                {% endif %}
                {% render_field form_auth.password placeholder="HASŁO" class="login-input-pass-left" %}
            </div>
            <input type="submit" value="ZALOGUJ" class="login-submit-button"/>
        </form>

    {% endif %}

    {% if form_auth == None %}

        <h4>Edytuj konto firmy</h4>

        <form method="post" id="companyEditForm" class="form-inline" role="form">

    {% else %}

        <h4>STWÓRZ KONTO DLA FIRM</h4>

        <form method="post" id="companyRegistrationForm" class="form-inline" role="form">

    {% endif %}

{% csrf_token %}
<div class="form-group">
    {% comment %}<div class="labelEt">
                <span class="labelText">E-mail</span>
            </div>{% endcomment %}
    {% if form.email.errors %}
        <span class="error"> {{ form.email.errors.as_text }}</span>
    {% endif %}
    {% render_field form.email placeholder="E-MAIL" class="login-input-pass-left" %}
</div>
{% comment %}<div class="labelEt">
            <div class="form-group">
                <span class="labelText">Hasło</span>
                <span class="labelText">Powtórz hasło</span>
            </div>

        </div>{% endcomment %}

    {% if form_auth != None %}
<div class="form-group">
    {% if form.password1.errors %}
        <span class="error"> {{ form.password1.errors.as_text }}</span>
    {% endif %}
    {% render_field form.password1 placeholder="HASŁO" class="login-input-pass-left" %}
    {% if form.password2.errors %}
        <span class="error"> {{ form.password2.errors.as_text }}</span>
    {% endif %}
    {% render_field form.password2 placeholder="POWTORZ HASŁO" class="login-input-pass-left" %}
    {% if form.name.errors %}
        <span class="error"> {{ form.name.errors.as_text }}</span>
    {% endif %}
</div>

    {% endif %}
{% comment %}<div class="labelEt">
            <div class="form-group">
                <span class="labelText">Nazwa sklepu</span>
            </div>
        </div>{% endcomment %}
<div class="form-group">
    {% render_field form.shop_name placeholder="NAZWA FIRMY" class="login-input-pass-left-long" %}
    {% if form.name.errors %}
        <span class="error"> {{ form.shop_name.errors.as_text }}</span>
    {% endif %}
</div>
{% comment %} <div class="labelEt">
            <div class="form-group">
                <span class="labelText">Adres sklepu zarejestrowania</span>
            </div>
        </div>{% endcomment %}
<div class="form-group">
    {% render_field form.shop_address placeholder="GŁÓWNY ADRES" class="login-input-pass-left-long" %}
    {% if form.shop_address.errors %}
        <span class="error"> {{ form.shop_address.errors.as_text }}</span>
    {% endif %}
</div>
{% comment %} <div class="labelEt">
            <div class="form-group">
                <span class="labelText">NIP</span>
                <span class="labelText">REGON</span>
            </div>
        </div>{% endcomment %}
<div class="form-group">
    {% render_field form.shop_vin placeholder="NIP" class="login-input-pass-left" %}
    {% if form.shop_vin.errors %}
        <span class="error"> {{ form.shop_vin.errors.as_text }}</span>
    {% endif %}
    {% render_field form.shop_regon placeholder="REGON" class="login-input-pass-left" %}
    {% if form.shop_regon.errors %}
        <span class="error"> {{ form.shop_regon.errors.as_text }}</span>
    {% endif %}
</div>
<span class="titleText">Osoba uprawniona do kontaktu</span>
{% comment %} <div class="labelEt">
            <div class="form-group">
                <span class="labelText">Imię</span>
                <span class="labelText">Nazwisko</span>
            </div>
        </div>{% endcomment %}
<div class="form-group">
    {% render_field form.representant_name placeholder="IMIĘ" class="login-input-pass-left" %}
    {% if form.representant_name.errors %}
        <span class="error"> {{ form.representant_name.errors.as_text }}</span>
    {% endif %}
    {% render_field form.representant_surname placeholder="NAZWISKO" class="login-input-pass-left" %}
    {% if form.representant_surname.errors %}
        <span class="error"> {{ form.representant_surname.errors.as_text }}</span>
    {% endif %}
</div>
{% comment %}<div class="labelEt">
            <div class="form-group">
                <span class="labelText">Telefon stacjonarny</span>
                <span class="labelText">Telefon komórkowy</span>
            </div>
        </div>{% endcomment %}
<div class="form-group">
    {% render_field form.shop_phone placeholder="TELEFON KONTAKTOWY" class="login-input-pass-left" %}
    {% if form.shop_phone.errors %}
        <span class="error"> {{ form.shop_phone.errors.as_text }}</span>
    {% endif %}
</div>
{% comment %} <div class="labelEt">
            <div class="form-group">
                <span class="labelText">Fax</span>
            </div>
        </div>{% endcomment %}
{% if form_auth != None %}
Regulamin
<input type="checkbox" class="rules-accept" name="accept_rules" value=""/>Akceptuję regulamin

    <input type="submit" value="UTWÓRZ KONTO" class="login-submit-button">

{% else %}
    <input type="submit" value="Zapisz zmiany" class="login-submit-button">
{% endif %}
</form>
<div id="errors">

</div>
{% endblock %}