{% extends "registration/base.html" %}

{% block title %}Logowanie/rejestracja{% endblock %}

{% block content %}

    <h1>ZALOGUJ SIĘ</h1>

    {% if form.errors %}
        <p class="error">Please correct the errors below:</p>
    {% endif %}

    <form method="post" action="?next={{ next|default:"/" }}" id="login">{% csrf_token %}
        <dl>
            <dt><label for="id_username">Zaloguj:</label>
                {% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>
                {% endif %}</dt>
            <dd>{{ form_auth.username }}</dd>
            <dt><label for="id_password">Hasło:</label>{% if form.password.errors %} <span class="error">
    {{ form.password.errors|join:", " }}</span>
            {% endif %}</dt>
            <dd>{{ form_auth.password }}</dd>
            <dt><input type="submit" value="Logowanie"/></dt>
        </dl>
    </form>

    <h1>Stwórz konto</h1>

    <form method="post" action="/accounts/register/" class="wide"  id="registration">
        {% csrf_token %}
        <p>
            <label for="id_email">Email</label>
            {% if form.email.errors %}
                <p class="errors">{{ form.email.errors.as_text }}</p>
            {% endif %}
    {{ form.email }}
        </p>
        <p>
            <label for="id_password1">Hasło:</label>
            {% if form.password1.errors %}
                <p class="errors">{{ form.password1.errors.as_text }}</p>
            {% endif %}
        {{ form.password1 }}
        </p>
        <p>
            <label for="id_password2">Powtórz hasło:</label>
            {% if form.password2.errors %}
                <p class="errors">{{ form.password2.errors.as_text }}</p>
            {% endif %}
        {{ form.password2 }}
        </p>
        <p class="submit"><input type="submit" value="Register &rarr;"></p>
    </form>
{% endblock %}