{% extends "registration/base.html" %}

{% block title %}Registration complete{% endblock %}

{% block content %}
    <div class="registration">
<h1>Sprawdź swój e-mail</h1>
<p>Link aktywacyjny został wysłany na Twój adres e-mail. Po kliknięciu Twoje konto zostanie aktywowane!</p>
</div>
{% endblock %}