body {
    background-image: url("../img/bg_1.jpg");
    padding-top: 0;
}

.container {
    width: 1124px;
}


img {max-width: none}


img.main-form {
    width: 36px;
    margin:0;
}

img.main-form-up {
    width: 38px;
}

img.logo {
    height: 50px;
}

img.social {
    height: 35px;
}

img.main-form-button-big {
    width: 80px;
    vertical-align: top;
    margin:5px;
}

img.main-form-button-wide {
    width: 80px;
    margin:2px;
}

img.main-form-small-up {
    float: right;
    width: 40px;
    margin:0;
}

img.main-form-small-up-second {
    float: right;
    width: 40px;
}

img.language-button {
    height: 20px;
}

img.main-navigation-right {
    float: right;
    width: 190px;
}

img.main-navigation {
    margin:2px;
    padding:0;
}

.random-offers {
    height: 92px;
    background-color: #000;
}

img.half-navigation {
    width: 48%;
    margin-top:0px;

}

.span101 {
    text-align: right;
    width: 1100px;

}

.span10 {
    width: 100%;
    margin:0;
    padding:0;
}

.span17 {
    color: white;
    width: 85px;
    padding: 0 0;
    margin: 0;
}

.span777 {
    margin-left:8px;
}

.span18 {
    color: white;
    width: 125px;
    padding: 0;
    margin: 0;
}

.span181 {
    color: white;
    width: 125px;
    padding: 0;
    margin: 0px;
}

.span19 {
    color: white;
    width: 85px;
    padding: 0 0;
    margin: 0 0 0 0px;
}

.span20 {
    background-color: #000;
    width: 215px;
    padding: 0 0;
    margin: 0 0 3px 2px;
}

.span21 {
    color: white;
    width: 190px;
    padding: 0 0;
    margin: 0 0 0 2px;
}

.row1 {
/ / background : blue;
    color: white;
    padding: 1px 0;
    text-align: center;
    margin: 0;
}

.row10 {
    color: white;
    padding: 1px 0;
    margin: 0;
}

.row100 {
    color: white;
    padding: 0 0;
    margin: 0;
    text-align: right;
}

.row2 {
/ / background : green;
    color: white;
    padding: 0 0;
    text-align: center;
    margin-top: 2px;
}

.row3 {
    color: white;
    padding: 20px 10px;
    margin-top: 25px;
    margin-bottom:5px;
}

.row36 {
    color: white;
    padding: 20px 0;
    margin-top: 15px;
    min-height: 160px;
}

.span3 {
    color: white;
    padding: 0 0;
    margin-top: 15px;
    width: 430px;
    margin-left:20px;
}

.span5 {
    color: black;
    padding: 0 0;
    text-align: center;
    margin-top: 15px;
    height: 250px;
    width: 600px;
}

.span311 {
    width: 76px;
    margin-left: 0px;

}

.span312 {
    width: 76px;
    background-color: #e8ede7;
    height: 100%;
    margin-left: 5px;
}

.span313 {
    width: 144px;
    background-color: #e8ede7;
    height: 100%;
    margin-left: 5px;
}

.span314 {
    width: 90px;
    background-color: #e8ede7;
    height: 100%;
    margin-left: 5px;
}

.row51 {
    background: pink;
    height: 500px;
    margin: 0;
    text-align: left;
}

.row52 {
    height: 150px;
    margin-top: 10px;

}

.row31 {
    height: 160px;
    margin-top: 15px;

}

.table-main {
    max-width: 100%;
    border-spacing: 4px 4px;
    border-collapse: separate;
    padding: 10px;
}

.table-main th {
    background: rgba(255, 165, 0, 0.7);
    filter: alpha(opacity=50);
    padding: 10px;

}

.table-main td {
    background-color: #d9ede2;
    padding: 2px;
}

.ui-dialog, .ui-dialog-buttonpane, .ui-dialog-content {
    background: #59313c !important;
    padding: 0px;

}

.ui-dialog.success-dialog {
    font-family: Verdana, Arial, sans-serif;
    font-size: .8em;
    background-color: #59313c;
    -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.success-dialog .ui-dialog-titlebar {
    display: none;
    background-color: #59313c;
}

input.login-input {
    background-color: #297d7d;
    color: #FFF;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    border: none;
    width: 250px;
}

input.login-input-wide {
    background-color: #297d7d;
    color: #FFF;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    border: none;
    width: 310px;
}

input.login-input-pass {
    background-color: #297d7d;
    color: #FFF;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    border: none;
    width: 137px;
}

input.login-input-pass-left {
    background-color: #297d7d;
    color: #FFF;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    border: none;
    width: 200px;
}

input.login-input-pass-left-long {
    background-color: #297d7d;
    color: #FFF;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    border: none;
    width: 425px;
}

input.login-submit-button {
    float: right;
    margin-right: 10px;
    font-weight: bold;
    background-color: #FFF;
    border: 0;
    width: 110px;
    height: 30px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #FFF;
    font-weight: bold;

}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFF;
    font-weight: bold;

}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFF;
    font-weight: bold;

}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #FFF;
    font-weight: bold;

}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #FFF;
    font-weight: bold;

}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FFF;
    font-weight: bold;
}

h4 {
    color: #FFF;
    display: inline-block;
    margin-left: 10px;

}

span.titleText {
    color: #FFF;
    display: inline-block;
    margin-left: 10px;
}

span.labelText {
    color: #FFF;
    display: inline-block;
    margin-left: 10px;
    width: 210px;
}

checkbox.rules-accept {
    width: 33px;
    height: 33px;
    border: 0;
}

.userLogin .form-group {
    margin-bottom: 5px;
}

.login-content .labelEt .form-group {
    margin-bottom: 0px;
    margin-top: 0px;
}

.login-content .form-group img {
    margin-left: 10px;
}

#companyLoginForm .login-content .form-group {
    margin-bottom: 0px;
    padding: 0;
}

#companyLoginForm .form-group input {
    margin-bottom: 0px;
}

.navigation-bottom-left-column {
    width: 100%;
    margin-bottom: 5px;
}

.navigation-bottom-right-column {
    width: 100%;
    margin-bottom: 5px;
}

.sex > input[type=radio] {
    display: none;
}

input[type=radio] + img {
    cursor: pointer;
    border: 2px solid transparent;
}

input[type=radio]:checked + img {
    border: 2px solid red;
}

.types > input[type=checkbox] {
    display: none;
}

.types > input[type=checkbox] + img {
    cursor: pointer;
}

.types > input[type=checkbox]:checked + img {
    border: 0px solid #f00;
}

.types {
    margin:0;
}
/*
.main-navigation-label > input[type=checkbox] {
    display: none;
}

input[type=checkbox] + img {
    cursor: pointer;
    border: 2px solid transparent;
}

input[type=checkbox]:checked + img {
    border: 2px solid #f00;
}
*/
.wrapper {
    height: 35px;
    display: inline-block;
    margin-left: 10px;

}

.sum-icon {
    background-color: #297d7d;
    font-size: 40px;
    width: 33px;
    height: 33px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    line-height: 28px;
    cursor: pointer;
}

#small-up {
    display: inline-block;
    width: 41px;
    vertical-align: top;
}

label.valid {
    width: 24px;
    height: 24px;
/ / background : url('../img/valid.png') center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

<!--
styles for companies panel

-->

img.companies-big {
    width: 140px;
}

img.companies-wide {
    width: 200px;
}

img.companies-small {
    width: 47px;
    margin-right: 5px;
}

.span41 {
    padding: 0 0;
    margin-left: 5px;
    margin-right:5px;
}

.span42 {
    padding: 0 0;
    margin: 0;
    margin-left:5px;
    margin-right:5px;
}

.span44 {
    padding: 0 0;
    margin: 0;
}

img.companies-big {
    max-width:100px;
}
.row41 {
    margin-bottom: 5px;
}

.span40-margin {
    margin: 0px;
}

.row1000 {
    margin-top: 5px;
    margin-bottom: 15px;
    height:100px;
}

input.companies-input-wide {
    background-color: #fff9d5;
    color: #000;
    margin-left: 10px;
    margin-bottom: 5px;
    height: 20px;
    border: none;
    width: 415px;
}

input.companies-input {
    background-color: #fff9d5;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 20px;
    border: none;
    width: 110px;
}

input.companies-input-left {
    background-color: #fff9d5;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 20px;
    border: none;
    width: 140px;
}

input.companies-input-left-email {
    background-color: #fff9d5;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 20px;
    border: none;
    width: 260px;
}

input.companies-input-right {
    background-color: #fff9d5;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 20px;
    border: none;
    width: 50px;
}

input.companies-input-wide::-webkit-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-wide::-moz-placeholder { font-size: 12pt; color: #000; }
input.companies-input-wide:-ms-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-wide:-moz-placeholder { font-size: 12pt; color: #000; }

textarea.companies-input-wide::-webkit-input-placeholder { font-size: 12pt; color: #000; }
textarea.companies-input-wide::-moz-placeholder { font-size: 12pt; color: #000; }
textarea.companies-input-wide:-ms-input-placeholder { font-size: 12pt; color: #000; }
textarea.companies-input-wide:-moz-placeholder { font-size: 12pt; color: #000; }

input.companies-input::-webkit-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input::-moz-placeholder { font-size: 12pt; color: #000; }
input.companies-input:-ms-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input:-moz-placeholder { font-size: 12pt; color: #000; }

input.companies-input-left::-webkit-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-left::-moz-placeholder { font-size: 12pt; color: #000; }
input.companies-input-left:-ms-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-left:-moz-placeholder { font-size: 12pt; color: #000; }

input.companies-input-right::-webkit-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-right::-moz-placeholder { font-size: 12pt; color: #000; }
input.companies-input-right:-ms-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-right:-moz-placeholder { font-size: 12pt; color: #000; }

input.companies-input-left-email::-webkit-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-left-email::-moz-placeholder { font-size: 12pt; color: #000; }
input.companies-input-left-email:-ms-input-placeholder { font-size: 12pt; color: #000; }
input.companies-input-left-email:-moz-placeholder { font-size: 12pt; color: #000; }

.company-right-dialog .ui-dialog-titlebar {
    display: none;
    background-color: #fff9d5;
}

.ui-dialog.company-right-dialog {
    font-family: Verdana, Arial, sans-serif;
    font-size: .8em;
    background-color: #fff9d5;
    -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#activate_dialog {
    color: #FFF;
}

.nav li {
    display: block-inline;
    list-style: none;
    float: left;
}

.content {
    display: none;
    position: inherit;
    overflow: hidden;
    left: 0;
    margin-top: 0px;

}

.show {
    display: inline-block;
}

.add-promotion {
    background-color: #fff9d5;
    height: 120px;
    width:430px;
}

.promotion-button {
    background-color: #4e4e50;
    width: 70px;
    height: 50px;
    display: inline-block;
    float:left;
    margin-right:10px;
    margin-top:10px;
    padding:5px;
    color:#FFF;
}

.add-promotion > input[type=checkbox] {
    display:none;
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
.add-promotion > input[type=checkbox] + label {
    background-color: #4e4e50;
    width: 60px;
    height: 55px;
    display: inline-block;
    float:left;
    margin-right:10px;
    margin-top:10px;
    padding:5px;
    color:#FFF;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.add-promotion > input[type=checkbox]:checked + label {
   background-image: none;
   background-color:#297d7d;
}

.firstPb {
    margin-left:10px;
}

.promotion-button a {

}

.promotion-button a:hover {

}

.promotion-button a:active {
    background-color: #115b64;
}

.span444 {
    padding: 0 0;
    margin: 0;
    width: 470px;
}

.span445 {
    padding: 0 0;
    margin: 0;
    width: 490px;
    float:right;
    position:top;
}

.row901 {
    margin-top:10px;
    margin-left:10px;
}

.day-element-size {
    width:30px;
    height:30px;
}

.day-open-panel {
    height:90px;
    margin-left:10px;
    display: inline-block;
}

.last {
    margin-bottom:0px;
}

.day-open {
    width:140px;
    display:inline-block;
}

.day-open-label {
   background-color: #115b64;
   color:#FFF;
   display:inline-block;
    margin:0;
    padding:0;
}

.day-open-button {
     display:inline-block;
}

input.day-open-input {
    display:inline-block;
    width: 20px;
    margin-top:auto;
    background-color:#fff9d5;
    border:0;
    box-shadow:none;
    color:#115b64;
}

.row60 {
    margin:0;
    margin-top:5px;
}

.row61 {
    margin:0;
}

textarea.companies-input-wide {
    background: #fff9d5;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 50px;
    border: none;
    width: 415px;
}

.company-button input {
    background:#e9322d;
    border:0px;
    color:#FFF;
    font-weight: bold;
    float:right;
}

.labels {
     color: black;
     text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 22px;
     text-align: center;
     width: 80px;
     white-space: nowrap;
   }

input.errorfield {
    background-color: #ea2d49;
}

.phoney {
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)));
        background: -moz-linear-gradient(center top,rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
      }

img.infoWindowImg {
    width:30px;
    height:30px;
    margin-right:5px;
}

.carousel-slideshow-promotion {
    width:280px;
    height:150px;
    margin: 0 auto;
    display:inline-block;
    float:left;
}

.slider-promotion {
  width: 370px; /* Update to your slider width */
  height: 220px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
  float:left;
  display:inline-block;
  -moz-border-radius: 5px;
  border-radius: 10px;
  margin:0;
}

.slider-promotion li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-permanent {
  width: 370px; /* Update to your slider width */
  height: 220px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
  float:left;
  display:inline-block;
  margin:0;
}

.slider-permament li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-coupon {
  width: 370px; /* Update to your slider width */
  height: 160px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
  float:left;
  display:inline-block;
  border: 5px solid #115b64;
  -moz-border-radius: 5px;
  border-radius: 10px;
  margin:0;
}

.slider-coupon li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* Styling for prev and next buttons */
#buttons {
}

#buttons a {
	display:inline-block;
	width:31px;
	height:32px;
	text-indent:-999em;
	float:left;
	outline:0;
}

a#prev {
	background: url("../img/navigation/carousel-left-arrow.gif") 0 0px no-repeat;
    display:inline-block;
}

a#next {
	background:url("../img/navigation/carousel-right-arrow.gif") 0px 0px no-repeat;
}

a#prev-permanent {
	background: url("../img/navigation/carousel-left-arrow.gif") 0 0px no-repeat;
    display:inline-block;
}

a#next-permanent {
	background:url("../img/navigation/carousel-right-arrow.gif") 0px 0px no-repeat;
}

a#prev-coupon {
	background: url("../img/navigation/carousel-left-arrow.gif") 0 0px no-repeat;
    display:inline-block;
}

a#next-coupon {
	background:url("../img/navigation/carousel-right-arrow.gif") 0px 0px no-repeat;
}

.clear {clear:both}

.row902 {
    margin-top:50px;
    padding:0;
}

.registration {
    color: #FFF;
}

select.company-name {
      background: #fff9d5;
      width:420px;
      margin-left:10px;
      margin-bottom:10px;
}

.id-shop-name-form {
    color: #d9a037;
}

.span2010 {
    width:220px;
    padding:0;
    margin:0;
}

.span2011 {
    width:150px;
    margin-left:30px;
}

.tooltip-content {
  position: relative;
}

.tooltip-content .tooltip {
  background-color: #d3d3d3;
  border: 1px solid #777;
  border-radius: 7px;
  padding: 2px;
  position: absolute;
  width: 400px;
  z-Index: 99999;
  display: none;
}

.ttip {
    position: absolute;
    width: 350px;
    height: 100px;
    color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 2px #303030;
    -moz-box-shadow: 0 1px 2px #303030;
    box-shadow: 0 1px 2px #303030;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    background-image:-moz-linear-gradient(top, #F45000, #FF8000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F45000), to(#FF8000));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F45000', endColorstr='#FF8000', GradientType=0);
    background-color:#000;
    display: none
}

.contents {
    font-size: 15px;
    font-weight:bold
}
.note {
    font-size: 13px;
    text-align:center;
    display:block;
    width: 100%
}
#background{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 1;
}
#large {
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 0px;
    z-index: 10;
    min-height: 0px;
    min-width: 0px;
    color: #336699;
}

.tooltip-category {
    display:inline-block;
}

#promotion-categories {
    float: right;
}

#permanent-categories{
   float: right;
}

.promotion-price-before {
        border: 1px solid black;
        width:50px;
        height:20px;
        display:block;
        margin-bottom:20px;
        font-size:16px;
      margin-left:20px;

}

.promotion-price-after {
        border: 1px solid black;
        width:50px;
        height:20px;
        display:block;
        font-size:16px;
        margin-left:20px;

}

.promotion-datepicker-from {
    margin-right: 5px;
}

.promotion-datepicker-to {
    margin-left: 5px;
}

.promotion-time-period {
    background-color:red;
    color: #FFF;
    font-weight:bold;
    margin-top:5px;
}

.id-promotion-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    height:20px;
}

.id-promotion-image img {
    width: 300px;
    height:100px;
}

#promotion-image {
    max-width:300px;
    max-height:200px
}

.id-permanent-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

#large-permanent {
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 0px;
    z-index: 10;
    min-height: 0px;
    min-width: 0px;
    color: #336699;
}

.ttip-permanent {
    position: absolute;
    width: 350px;
    height: 100px;
    color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 2px #303030;
    -moz-box-shadow: 0 1px 2px #303030;
    box-shadow: 0 1px 2px #303030;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    background-image:-moz-linear-gradient(top, #F45000, #FF8000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F45000), to(#FF8000));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F45000', endColorstr='#FF8000', GradientType=0);
    background-color:#000;
    display: none
}

.contents-permanent {
    font-size: 15px;
    font-weight:bold
}
.note-permanent {
    font-size: 13px;
    text-align:center;
    display:block;
    width: 100%
}

.tooltip-category-permanent {
    display:inline-block;
}

span.id-shop-phone {
    min-width:100px;
    display:inline-block;
}

span.id-shop-www {
    min-width:100px;
    display:inline-block;
}

span.id-shop-email {
    min-width:100px;
    display:inline-block;
}

span.id-shop-name {
    color:#115b64;
    font-weight:bold;
    font-size:24px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    display:block;
}

span.id-shop-description {
    color:#115b64;
    width:450px;
    min-height:40px;
    display:block;
    margin-left:10px;
}

.span900 {
    margin:0;
}

.span901 {
    margin: 0;
    padding: 0;
    margin-top: 2px;
}

div#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}

.main-menu-choose > input[type=checkbox] + img {

}

.main-menu-choose > input[type=checkbox]:checked + img {
}

.main-menu-choose > input[type=checkbox] {
    display: none;
}

.main-menu-choose {
    vertical-align:top;
    margin:0;
}

.companies_font {
    color:#115b64;
    font-weight:bold;
}

span.shop-name-span {
   display:inline-block;
   color:#FFF;
   margin-right:20px;
   margin-left:10px;
}
.yes-or-no {
    height:25px;
    display:inline-block;

}

.day-choose > input[type=checkbox] {
    display: none;
}

day-choose.input[type=checkbox].day-choose + img {
    width:20px;
}

day-choose.input[type=checkbox]:checked+ img {
    border:none;
}

.span333 {
    float:left;
    margin:0;
    margin-top:10px;
}

.add-promotion-period {
    background-color: #fff9d5;
}

.add-promotion-period > input[type=radio] {
    display:none;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
.add-promotion-period > input[type=radio] + label {
    float:left;
    margin-right:10px;
    padding:5px;
    color:#FFF;
    background-color: #4e4e50;
    width: 85px;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.add-promotion-period > input[type=radio]:checked + label {
   background-image: none;
   background-color:#297d7d;
}

.sum {
    background-color: #4e4e50;
    width:80px;
    height:25px;
    display:inline-block;
    margin-right:5px;
    color:#FFF;
}

.row331 {
    text-align:right;
    margin-top:10px;
    margin-left:10px;
}

.company-button-pay {
    display:inline-block;
    margin-right:15px;
}

.company-button-pay input {
    background:#e9322d;
    border:0px;
    color:#FFF;
    font-weight: bold;
    float:right;
    display:inline-block;
    height:25px;
    width: 95px;
}

hr {
  margin-top:0;
    margin-bottom:5px;
}

.panel4 {
    padding:0;
}

.form-inline {
    margin:0;
}

p.about-us-text {
    font-size:14px;
    color:#FFF;
}

ul.about-us-text {
    font-size:14px;
    color:#FFF;
}

img.logo-about {
    float:right;
    height: 100px;
}

img.logo-load {
    height: 100px;
    top:50%;
    left:50%;
    position:absolute;
    z-index:1010;
}

h1.about {
    margin-bottom:40px;
}

.promotion_title {
    width: 200px;
    display:inline-block;
    float:left;
}

div#loading
{
    display: none;
    width:100%;
    height: 100%;
    top:0;
    position: absolute;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index:1000;
    overflow: auto;
    background-color: Gray;
    opacity: .35;
}

.row41 h2{

    font-size: 10px;
    position: absolute;
    top: 20px;
    left: 17px;
    width: 100%;
    color:#FFF;
}

.row41 h2.bottom{

    font-size: 10px;
    position: absolute;
    top: 70px;
    left: 17px;
    width: 100%;
    color:#FFF;
}

.row41 h2.next {
    left:137px;
    width:100px;
}

span.hours {
    width: 40px;
    display: inline-block;
}

.map_image {
    display:block;
    margin-bottom:10px;
}

.ui-datepicker {
	width: 216px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

#errors {
    color: #FFF;
    width:350px;
    top:200px;
}

.active {
    width: 450px;
}

.main-form-up-preview {
    width: 38px;
    display: inline-block;
    margin-right:5px;
}

.category_container {
    width:250px;
    display: inline-block;
}
<!-- kolor #484849 -->