{% extends "registration/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap_toolkit %}

{% block headblock %}

    <script type="text/javascript" src="{% static "js/jquery.form.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/shop.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/offer.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/promotion.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/slides-change.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/category-click.js" %}"></script>
    <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>



    <script language="text/javascript">

    jQuery(document).ready(function () {

        jQuery("#your-text-area").on('keydown', function (event) {
            var currentString = jQuery("#your-text-area").val()
            jQuery("Your Div").html(currentString.length);
            if (currentString.length <= 500) {  /*or whatever your number is*/
                //do some css with your div
            } else {
                //do some differnt stuff with your div
            }
        });

        jQuery("#panel4 .category").click(function (event) {

            obrazek = jQuery(this).attr("src");
            kategoria = jQuery(this).attr("category");

            if (!jQuery(this).hasClass("clicked")) {

                 jQuery('ul#id-slider-promotion > li.active > .category_container').find("img[category='" + kategoria + "']").remove();

            } else {

                 jQuery('ul#id-slider-promotion > li.active > .category_container').append("<img class='main-form-up-preview' category='" + kategoria + "' src='" + obrazek + "' />");

            }


        });

        jQuery("#panel2 .category").click(function (event) {

            obrazek = jQuery(this).attr("src");
            kategoria = jQuery(this).attr("category");

            if (!jQuery(this).hasClass("clicked")) {

                jQuery('ul#id-slider-permanent > li.active > .category_container_permanent').find("img[category='" + kategoria + "']").remove();

            } else {

                jQuery('ul#id-slider-permanent > li.active > .category_container_permanent').append("<img class='main-form-up-preview' category='" + kategoria + "' src='" + obrazek + "' />");

            }


        });

        jQuery("input[name='periods']:radio").change(function () {


        });

        jQuery("input[name='radios']:checkbox").change(function () {


            var dayName = jQuery(this).attr("value");

            //tutaj wprowdzić warunki na blokowanie pól przed wprowadzeniem dla unchecked

        });


        jQuery(".yes-or-no").click(function () {

            var pictureName = jQuery(this).attr("src");
            pictureName = pictureName.replace('/static/img/navigation/', '', '');

            if (pictureName == "check.png") {
                var newSrc = "/static/img/navigation/un_check.png";
            } else var newSrc = "/static/img/navigation/check.png";

            jQuery(this).attr("src", newSrc);
        });

        jQuery.extend(jQuery.validator.messages, {
            required: "",
            remote: "Please fix this field.",
            email: "",
            url: "Please enter a valid URL.",
            date: "",
            dateISO: "Please enter a valid date (ISO).",
            number: "",
            digits: "Please enter only digits.",
            creditcard: "Please enter a valid credit card number.",
            equalTo: "Please enter the same value again.",
            accept: "Please enter a value with a valid extension.",
            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            minlength: jQuery.validator.format(""),
            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
            min: jQuery.validator.format("Please enter a value greater than or equal to {0}."),
            shopOpenHours: ""
        });

        jQuery.validator.addMethod("notDefaultText", function (value, element) {
            if (value == jQuery(element).attr('placeholder')) {
                return false;
            } else {
                return true;
            }
        });

        jQuery.validator.addMethod("shopOpenHours", function (value, element) {
            if (value > 23 || value < 00) {
                return false;
            } else {
                return true;
            }
        });

        jQuery.validator.addMethod("isSetCategory", function (value, element) {
            if (value > 23 || value < 00) {
                return false;
            } else {
                return true;
            }
        });

        jQuery.validator.addMethod('filesize', function (value, element, param) {

            return this.optional(element) || (element.files[0].size <= param)
        });

        jQuery.validator.addClassRules('day-open-input', {
            shopOpenHours: true
        });


        jQuery('#companyShopRegistrationForm').validate({
            errorClass: 'errorfield',
            rules: {
                email: {
                    required: true,
                    email: true,
                    notDefaultText: true
                },
                accept_rules: {
                    required: true
                },
                name: {
                    required: true,
                    notDefaultText: true
                },
                city: {
                    required: true
                },
                street: {
                    required: true,
                    minlength: 8//,
                    // notDefaultText: true
                },
                street_number: {
                    required: true,
                    minlength: 1//,
                    // notDefaultText: true
                },
                submitHandler: function (form) {
                    jQuery('#companyShopRegistrationForm').submit();
                }
            },
            messages: {
                name: {
                    required: "Nazwa promocji jest wymagana!",
                },
                city: {
                    required: "Miasto jest wymagane!"
                },
                shop_address: {
                    required: "Adres siedziby jest wymagany!"
                },
                shop_vin: {
                    required: "NIP jest wymagany!"
                },
                shop_regon: {
                    required: "Wpisz REGON jest wymagany!"
                },
                representant_name: {
                    required: "Nazwisko przedstawiciela jest wymagane!"
                },
                shop_phone: {
                    required: "Telefon jest wymagany!"
                },
                password1: {
                    required: "Wpisz hasło!"
                },
                password2: {
                    required: "Powtórz hasło!"
                },
                accept_rules: {
                    required: "Musisz zaakceptować regulamin!"
                }
            }
        });

        jQuery('#promotionForm').validate({
            errorClass: 'errorfield',
            errorLabelContainer: '#errors',
            rules: {
                promotion_name: {
                    required: true,
                    notDefaultText: true
                },
                date_from: {
                    required: true,
                    date: true,
                    notDefaultText: true
                },
                date_to: {
                    required: true,
                    date: true,
                    notDefaultText: true
                },
                price_before: {
                    required: true,
                    number: true,
                    notDefaultText: true
                },
                price_after: {
                    required: true,
                    number: true,
                    notDefaultText: true
                },
                picture: {
                    required: true,
                    accept: "image/jpg,image/jpeg,image/png,image/gif",
                    filesize: 200000
                },
                submitHandler: function (form) {
                    jQuery('#promotionForm').submit();
                }
            },
            messages: {
                picture: {
                    required: "Obrazek jest wymagany",
                    accept: "Plik musi być obrazkiem!",
                    filesize: "Obrazek musi mieć do 200kb"
                }
            }
        });



        jQuery('#promotionForm').submit(function (event) {
            if (jQuery(this).valid()) {
                jQuery('#id-category').val(jQuery('#promotion-categories img').attr('name'));
                jQuery('#id-shop-promotion').val(jQuery('#shop_list').val());

                jQuery(this).ajaxSubmit({
                    type: 'POST',
                    url: "/company/promotion/add/",
                    data: jQuery(this).serialize(),
                    dataType: 'json',
                    error: function (data) {
                        alert(JSON.stringify(data));

                    },
                    success: function (data) {
                        jQuery('#promotion_id').val(data.id);
                        alert("Promocja została zapisana!");
                        jQuery('li#temp-promotion').attr('promotion_id', data.id);
                        jQuery('li#temp-promotion').removeAttr('id');

                    }
                });
            }
            event.preventDefault();

            return false;
        });

         jQuery('#permanentOffer').validate({
            errorClass: 'errorfield',
            errorLabelContainer: '#errors',
            rules: {
                permanent_name: {
                    required: true,
                    notDefaultText: true
                },
                date_from: {
                    required: true,
                    date: true,
                    notDefaultText: true
                },
                date_to: {
                    required: true,
                    date: true,
                    notDefaultText: true
                },
                price: {
                    required: true,
                    number: true,
                    notDefaultText: true
                },
                picture: {
                    required: true,
                    accept: "image/jpg,image/jpeg,image/png,image/gif",
                    filesize: 200000
                },
                submitHandler: function (form) {
                    jQuery('#promotionForm').submit();
                }
            },
            messages: {
                picture: {
                    required: "Obrazek jest wymagany",
                    accept: "Plik musi być obrazkiem!",
                    filesize: "Obrazek musi mieć do 200kb"
                }
            }
        });

        jQuery('#permanentOffer').submit(function (event) {
            if (jQuery(this).valid()) {
            jQuery('#id-category-permanent').val(jQuery('#permanent-categories img').attr('name'));
            jQuery('#id-shop').val(jQuery('#shop_list').val());

            jQuery(this).ajaxSubmit({
                type: 'POST',
                url: "/company/permanent/add/",
                data: jQuery(this).serialize(),
                dataType: 'json',
                error: function (data) {
                    alert(JSON.stringify(data));

                },
                success: function (data) {
                    jQuery('#permanent_id').val(data.id);
                    alert("Oferta została zapisana!");
                    jQuery('li#temp-permanent').attr('permanent_id', data.id);
                    jQuery('li#temp-permanent').removeAttr('id');

                }
            });
            event.preventDefault();
           }
            return false;
        });

        window.getPermanentOffer = function (permanent_id) {

            jQuery.ajax({
                type: 'POST',
                url: "/company/permanent/get/",
                data: {
                    'permanent_id': permanent_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                error: function (data) {

                    var id = '#panel2';
                    jQuery('.show').removeClass('show');
                    jQuery(id).addClass('show');

                    var error = jQuery.parseJSON(data.responseText);

                    jQuery('#permanent-categories').empty();
                    jQuery('#permanent_id').val(error.success[0][0]);
                    jQuery('#id-permanent-name').val(error.success[0][1])
                    jQuery('#permanent-categories').append("<div class='tooltip-category-permanent'><img src='/static/img/button_up/" + mainFormIcons[error.success[0][4]][1] + "' class='main-form-up' style='margin-left:3px' alt='My image' name='" + mainFormIcons[error.success[0][4]][4] + "'/></div>");

                },
                success: function (data) {
                    var success = jQuery.parseJSON(data.responseText);
                    alert(success.success);
                    jQuery('.popUp#user').dialog('destroy').remove()
                }
            });
            event.preventDefault();
        }

        window.getPromotionOffer = function (promotion_id) {

            jQuery.ajax({
                type: 'POST',
                url: "/company/promotion/get/",
                dataType: "json",
                data: {
                    'promotion_id': promotion_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                error: function (data) {

                    alert("Błąd");
                },
                success: function (result) {

                    var id = '#panel4';
                    jQuery('.show').removeClass('show');
                    jQuery(id).addClass('show');

                    jQuery('#id-promotion-name').val(result.name);
                    jQuery('#promotion-price-before').val(result.price_before);
                    jQuery('#promotion-price-after').val(result.price_after);
                    jQuery('#id-promotion-date-from').val(result.date_from);
                    jQuery('#id-promotion-date-to').val(result.date_to);

                    jQuery('.popUp#user').dialog('destroy').remove()
                }
            });
            event.preventDefault();
        }

        var $sliderCoupon = jQuery('.slider-coupon'); // class or id of carousel slider
        var $slide = 'li'; // could also use 'img' if you're not using a ul
        var $transition_time = 1000; // 1 second


        function slidesCoupon() {
            return $sliderCoupon.find($slide);
        }

        slidesCoupon().fadeOut();

        slidesCoupon().first().addClass('active');
        slidesCoupon().first().fadeIn($transition_time);

        //if user clicked on next button
        jQuery('#next-coupon').click(function () {

            //get the right position
            var $ik = $sliderCoupon.find($slide + '.active').index();
            slidesCoupon().eq($ik).removeClass('active');
            //slide the item
            slidesCoupon().eq($ik).fadeOut($transition_time);

            if (slidesCoupon().length == $ik + 1) $ik = -1; // loop to start

            slidesCoupon().eq($ik + 1).fadeIn($transition_time);
            slidesCoupon().eq($ik + 1).addClass('active');

            return false;

        });

        jQuery('#shop_list').change(function () {
            // jQuery("#shop_list option[value='-1']").remove();
            if (jQuery('#shop_list').val() != -1) {
                getShop(jQuery('#shop_list').val());
                getPermanentOffers(jQuery('#shop_list').val());
                getPromotionOffers(jQuery('#shop_list').val());
            } else {
                alert("Dziala!")
                jQuery('a[href="panel1"]').trigger('click');
                jQuery("#id-shop-name").val('');
                jQuery(".id-shop-name").empty();
                jQuery("#id-shop-description").val('');
                jQuery(".id-shop-description").empty();
                jQuery("#id-shop-www").val('');
                jQuery(".id-shop-www").empty();
                jQuery("#id-shop-city").val('');
                jQuery(".id-shop-city").empty();
                jQuery("#id-shop-address-street").val('');
                jQuery(".id-shop-address-street").empty();
                jQuery("#id-shop-address-street-number").val('');
                jQuery(".id-shop-address-street-number").empty();
                jQuery("#id-shop-address-street-flat").val('');
                jQuery(".id-shop-address-street-flat").empty();
                jQuery("#id-shop-phone").val('');
                jQuery(".id-shop-phone").empty();
                jQuery("#id-shop-email").val('');
                jQuery(".id-shop-email").empty();
                //var option = new Option("Nowy sklep","-1");
                //jQuery(option).html("Nowy sklep");
                //jQuery("#shop_list").append(option);
                //jQuery('select[id="shop_list"]').find('option:contains("Nowy sklep")').attr("selected",true);
                jQuery('[id=shop_list]').val(-1);
                jQuery("#id-slider-promotion").empty();
                jQuery("#id-slider-permanent").empty();
                jQuery(".day-open-input").val('');

            }
        })

        jQuery('#companyShopRegistrationForm').submit(function (event) {
            if (jQuery(this).valid()) {
                jQuery.ajax({
                    type: 'POST',
                    url: "/company/shop/add/",
                    dataType: "json",
                    data: jQuery(this).serialize() + '&shop_id=' + jQuery('#shop_list').val(),
                    error: function (data) {
                        alert(data.message);
                        //odświeżyć listę sklepów
                    },
                    success: function (data) {
                        alert(data.message);
                        jQuery('.popUp#user').dialog('destroy').remove();
                        getShops();

                    }
                });
            }
            event.preventDefault();
        });

        jQuery('.tooltip_display_permanent').click(function () {
            var $this = jQuery(this);
            jQuery("#background").css({
                "opacity": "0.3"
            }).fadeIn("slow");


            jQuery("#large-permanent").html(function () {
                jQuery('.ttip-permanent').css({

                    left: $this.position().left + '20px',
                    top: $this.position().top + '50px'
                }).show(500)

            }).fadeIn("slow");


        });

        jQuery('.note-permanent').on('click', function () {
            jQuery('.ttip-permanent').hide(500);
            jQuery("#background").fadeOut("slow");
            jQuery("#large-permanent").fadeOut("slow");

        });

        jQuery('.tooltip_display').click(function () {
            var $this = jQuery(this);
            jQuery("#background").css({
                "opacity": "0.3"
            }).fadeIn("slow");


            jQuery("#large").html(function () {
                jQuery('.ttip').css({

                    left: $this.position().left + '20px',
                    top: $this.position().top + '50px'
                }).show(500)

            }).fadeIn("slow");


        });

        jQuery('.note').on('click', function () {
            jQuery('.ttip').hide(500);
            jQuery("#background").fadeOut("slow");
            jQuery("#large").fadeOut("slow");

        });
//jQuery("#large").click(function() {
        // jQuery(this).fadeOut();

//});

        jQuery('.popUp#editCompanyDetails').bind('click', function () {
            var $this = jQuery(this);
            var outputHolder = jQuery("<div id='.uimodal-output'></div>");

            jQuery("body").append(outputHolder);

            outputHolder.load($this.attr("href"), null, function () {
                outputHolder.dialog({
                    height: 620,
                    width: 610,
                    modal: false,
                    position: [320, 200],
                    dialogClass: 'success-dialog',
                    close: function (event, ui) {
                        jQuery(this).dialog('destroy').remove();
                        jQuery('#dialog2').dialog('destroy');
                    }

                });
            });

            return false;
        });

    });

    jQuery(function () {
        jQuery("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: 0
        });
    });

    jQuery(function () {
        jQuery("#coupon-datepicker-from").datepicker({

            dateFormat: 'yy-mm-dd',
            minDate: 0,
            onSelect: function (dateText, inst) {

                jQuery('.coupon-datepicker-from').html(dateText);
            }
        });
    });


    jQuery(function () {
        jQuery("#coupon-datepicker-to").datepicker({

            dateFormat: 'yy-mm-dd',
            onSelect: function (dateText, inst) {

                jQuery('.coupon-datepicker-to').html(dateText);
            }
        });
    });

    jQuery(function () {
        jQuery("#id-permanent-date-from").datepicker({

            dateFormat: 'yy-mm-dd',
            onSelect: function (dateText, inst) {

                jQuery('.coupon-datepicker-from').html(dateText);
            }
        });
    });

    jQuery(function () {
        jQuery("#id-permanent-date-to").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });

    jQuery(function () {
        jQuery("#id-promotion-date-from").datepicker({

            dateFormat: 'yy-mm-dd',
            onSelect: function (dateText, inst) {

                jQuery('.promotion-datepicker-from').html(dateText);
            }
        });
    });

    jQuery(function () {
        jQuery("#id-promotion-date-to").datepicker({

            dateFormat: 'yy-mm-dd',
            onSelect: function (dateText, inst) {

                jQuery('.promotion-datepicker-to').html(dateText);
            }
        });
    });


    function createTooltipBody() {
        var i = 0;
        for (i; i < mainFormIcons.length; i++) {
            jQuery('#ttipContent').append("<div class='tooltip-category'><img src='/static/img/button_up/" + mainFormIcons[i][1] + "' class='main-form-up' style='margin-left:3px' alt='My image' name='" + mainFormIcons[i][4] + "'/></div>");
        }
    }

    function createTooltipBodyPermanent() {
        var i = 0;
        for (i; i < mainFormIcons.length; i++) {
            jQuery('#ttipContent-permanent').append("<div class='tooltip-category-permanent'><img src='/static/img/button_up/" + mainFormIcons[i][1] + "' class='main-form-up' style='margin-left:3px' alt='My image' name='" + mainFormIcons[i][4] + "'/></div>");
        }
    }

    jQuery("#ttipContent").on('click', '.tooltip-category', blueBtnClicked);

    function blueBtnClicked(event) {

        jQuery(this).parent().parent().fadeOut();

        obrazek = jQuery(this).clone();
        obrazek2 = jQuery(this);

        if (jQuery('#promotion-categories').is(':empty')) {
            obrazek2.appendTo('li.active > .category_container');
            jQuery('#promotion-categories').append(obrazek);

        }
        else {
            categories = jQuery('div#promotion-categories').children();
            jQuery('div#promotion-categories').empty();
            jQuery('#promotion-categories').append(obrazek);
            jQuery('li.active > .category_container').find(".tooltip-category").remove();
            obrazek2.appendTo('li.active > .category_container');
            jQuery('div#ttipContent').append(categories);
        }

    }
    ;

    jQuery("#promotion-categories").on('click', '.tooltip-category', removeItem);

    jQuery("#permanent-categories").on('click', '.tooltip-category-permanent', removeItem);

    jQuery("#ttipContent-permanent").on('click', '.tooltip-category-permanent', blueBtnClickedPermanent);

    function blueBtnClickedPermanent(event) {

        jQuery(this).parent().parent().fadeOut();

        obrazek3 = jQuery(this).clone();
        obrazek4 = jQuery(this);

        if (jQuery('div#permanent-categories').is(':empty')) {
            obrazek4.appendTo('li.active > .category_container_permanent');
            jQuery('#permanent-categories').append(obrazek3);
        }
        else {
            categories = jQuery('div#permanent-categories').children();
            jQuery('div#permanent-categories').empty();
            jQuery('#permanent-categories').append(obrazek3);
            jQuery('li.active > .category_container_permanent').find(".tooltip-category-permanent").remove();
            obrazek4.appendTo('li.active > .category_container_permanent');
            jQuery('div#ttipContent-permanent').append(categories);
        }

    }
    ;


    function removeItem(event) {
        jQuery(this).remove();
    }
    ;

    jQuery('a.menu').click(function (e) {
        e.preventDefault();
        if (jQuery('#shop_list').val() != -1) {
            var id = '#' + jQuery(this).attr('href');
            jQuery('.show').removeClass('show');
            jQuery(id).addClass('show');
        }

        jQuery('#temp-promotion').remove();
        jQuery('#temp-permanent').remove();
        jQuery('#temp-coupon').remove();
        // jQuery("#shop_list option[value='-1']").remove();


        if (id == '#panel1') {
            /*  jQuery("#id-shop-name").val('');
             jQuery(".id-shop-name").empty();
             jQuery("#id-shop-description").val('');
             jQuery(".id-shop-description").empty();
             jQuery("#id-shop-www").val('');
             jQuery(".id-shop-www").empty();
             jQuery("#id-shop-city").val('');
             jQuery(".id-shop-city").empty();
             jQuery("#id-shop-address-street").val('');
             jQuery(".id-shop-address-street").empty();
             jQuery("#id-shop-address-street-number").val('');
             jQuery(".id-shop-address-street-number").empty();
             jQuery("#id-shop-address-street-flat").val('');
             jQuery(".id-shop-address-street-flat").empty();
             jQuery("#id-shop-phone").val('');
             jQuery(".id-shop-phone").empty();
             jQuery("#id-shop-email").val('');
             jQuery(".id-shop-email").empty();
             var option = new Option("Nowy sklep","-1");
             jQuery(option).html("Nowy sklep");
             jQuery("#shop_list").append(option);
             //jQuery('select[id="shop_list"]').find('option:contains("Nowy sklep")').attr("selected",true);
             jQuery('[id=shop_list]').val(-1);
             jQuery("#id-slider-promotion").empty();
             jQuery("#id-slider-permanent").empty();
             */
        }

        if (id == '#panel4') {
            var $i = jQuery('.slider-promotion').find('li' + '.active').index();
            jQuery('.slider-promotion').find('li').eq($i).removeClass('active');
            jQuery('.slider-promotion').find('li').eq($i).fadeOut($transition_time);
            jQuery('#id-slider-promotion').append("<li id='temp-promotion'><div class='category_container'></div>" +
                    "<div class='span2010'><img id='promotion-image' src='' height='300px'/></div><div class='span2011'><div class='row2010 id-promotion-name'></div><div class='row2010'><span class='promotion-price-before'></span></div><div class='row2010'><span class='promotion-price-after'></span></div><div class='promotion-time-period'>czas trwania promocji</div><div class='row2010'><span class='promotion-datepicker-from'></span>-<span class='promotion-datepicker-to'></span></div></div></li>")
            jQuery('#temp-promotion').addClass('active');
            jQuery('#temp-promotion').fadeIn($transition_time);
        }

        if (id == '#panel3') {
            jQuery('#id-slider-coupon').append("<li class='active' id='temp-coupon'><div class='category_container'></div>" +
                    "<div class='span2010'><img id='coupon-image' src='' width='200px' height='200px'/></div><div class='span2011'><div class='row2010 coupon-name'></div><div class='row2010'><span class='coupon-datepicker-from'></span><span class='coupon-datepicker-to'></span></div><div class='row2010 coupon-offfer-price'></div></div></li>")
            jQuery('.slider-coupon').find('li').eq(0).fadeIn(1000);
        }

        if (id == '#panel2') {
            jQuery('#id-slider-permanent').append("<li class='active' id='temp-permanent'><div class='category_container_permanent'></div>" +
                    "<div class='span2010'><img id='permanent-image' src='' width='200px' height='200px'/></div><div class='span2011'><div class='row2010 id-permanent-name'></div><div class='row2010 permanent-offer-price'></div></div></li>")
            jQuery('.slider-permanent').find('li').eq(0).fadeIn(1000);
            clearPermanentOffer();
        }

    });

    clearPermanentOffer = function () {
        jQuery('#id-permanent-name').val('');
        jQuery('#permanent-offer-price').val('');
        jQuery('#tooltip-category-permanent').empty();
        jQuery("#id_picture").replaceWith(jQuery("#id_picture").clone());
    }


    jQuery('.day-open-input').keyup(function () {
        var day = jQuery(this).attr('name');

        switch (day) {
            case ('mon_end'):
            case ('mon_start'):
                jQuery('span.hours[day="monday"]').html(jQuery("#id_mon_start").val() + "-" + jQuery("#id_mon_end").val());
                break;
            case ('tue_end'):
            case ('tue_start'):
                jQuery('span.hours[day="tuesday"]').html(jQuery("#id_tue_start").val() + "-" + jQuery("#id_tue_end").val());
                break;
            case ('wed_end'):
            case ('wed_start'):
                jQuery('span.hours[day="wednesday"]').html(jQuery("#id_wed_start").val() + "-" + jQuery("#id_wed_end").val());
                break;
            case ('thur_end'):
            case ('thur_start'):
                jQuery('span.hours[day="thursday"]').html(jQuery("#id_thur_start").val() + "-" + jQuery("#id_thur_end").val());
                break;
            case ('frid_end'):
            case ('frid_start'):
                jQuery('span.hours[day="friday"]').html(jQuery("#id_frid_start").val() + "-" + jQuery("#id_frid_end").val());
                break;
            case ('sat_end'):
            case ('sat_start'):
                jQuery('span.hours[day="saturday"]').html(jQuery("#id_sat_start").val() + "-" + jQuery("#id_sat_end").val());
                break;
            case ('sun_end'):
            case ('sun_start'):
                jQuery('span.hours[day="sunday"]').html(jQuery("#id_sun_start").val() + "-" + jQuery("#id_sun_end").val());
                break;
        }
    });

    jQuery('#id-shop-name').keyup(function () {
        jQuery('.id-shop-name').html($(this).val());
    });

    jQuery('#id-shop-description').keyup(function () {
        jQuery('.id-shop-description').html($(this).val());
    });

    jQuery('#id-shop-address-street').keyup(function () {
        jQuery('.id-shop-address-street').html($(this).val());
    });

    jQuery('#id-shop-address-street-flat').keyup(function () {
        jQuery('.id-shop-address-street-flat').html("lok. " + $(this).val());
    });

    jQuery('#id-shop-www').keyup(function () {
        jQuery('.id-shop-www').html($(this).val());
    });

    jQuery('#id-shop-phone').keyup(function () {
        jQuery('.id-shop-phone').html($(this).val());
    });

    jQuery('#id-shop-email').keyup(function () {
        jQuery('.id-shop-email').html($(this).val());
    });

    jQuery('#id-shop-city').keyup(function () {
        jQuery('.id-shop-city').html($(this).val());
    });

    jQuery('#coupon-name').keyup(function () {
        jQuery('.coupon-name').html($(this).val());
    });

    jQuery('#permanent-offer-price').keyup(function () {
        jQuery('.permanent-offer-price').html($(this).val());
    });

    jQuery('#id-promotion-name').keyup(function () {
        jQuery('.id-promotion-name').html($(this).val());
    });

    jQuery('#promotion-price-before').keyup(function () {
        jQuery('.promotion-price-before').html($(this).val());
    });

    jQuery('#promotion-price-after').keyup(function () {
        jQuery('.promotion-price-after').html($(this).val());
    });

    jQuery('#id-permanent-name').keyup(function () {
        jQuery('.id-permanent-name').html($(this).val());
    });

    function upload_img(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                jQuery('#coupon-image').attr("src", e.target.result);

            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function upload_img_promotion(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                jQuery('#promotion-image').attr("src", e.target.result);
                jQuery('#promotion-image').fadeIn(1000);

            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function upload_img_permanent(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                jQuery('#permanent-image').attr("src", e.target.result);

            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    createTooltipBody();
    createTooltipBodyPermanent();

    </script>

{% endblock %}
{% block content %}
    <div id="large">
        <div class="ttip">
            <div class="contents" id="ttipContent"></div>
            <!-- <span class="note">(click here to close the box)</span> -->
        </div>
    </div>

    <div id="large-permanent">
        <div class="ttip-permanent">
            <div class="contents" id="ttipContent-permanent"></div>
            <!-- <span class="note">(click here to close the box)</span> -->
        </div>
    </div>

    <div class="row444">
    <div class="span444">
    <div id="for_companies_menu">
        <div class="row1000">
            <div class="span42">
                <div class="row41">
                    <img src="{% static "img/companies/Jak_To_Zrobic.png" %}" class="companies-big"
                         alt="My image"/>

                    <h2>Jak to zrobić?</h2>
                </div>
                <div class="row41">
                    <a href="accounts/company/edit/" class="popUp" id="editCompanyDetails">
                        <img src="{% static "img/companies/Edytuj_dane_firmy.png" %}" class="companies-big"
                             alt="My image"/>

                    </a>

                    <h2 class="bottom">Edytuj dane firmy</h2>
                </div>
            </div>
            <div class="span42">
                <div class="row41">
                    <a href="panel1" class="menu">
                        <img src="{% static "img/companies/Dodaj_Sklep.png" %}" class="companies-big" alt="My image"/>

                        <h2 class="next">Sklep</h2>
                    </a>

                </div>
                <div class="row41">
                    <img src="{% static "img/companies/Strona_glowna.png" %}" class="companies-big" alt="My image"/>

                    <h2 class="bottom next">Jak to zrobić?</h2>
                </div>
            </div>
            <div class="span40-margin">
            </div>
            <div class="span42">
                <div class="row41">
                    <a href="panel4" class="menu">
                        <img src="{% static "img/companies/coswiecej2-DLA-FIRM_05.jpg" %}" class="companies-big"
                             alt="My image"/>
                    </a>
                </div>
                <div class="row41">
                    <!--<a href="panel3" class="menu"> -->
                    <img src="{% static "img/companies/coswiecej2-DLA-FIRM_17.jpg" %}" class="companies-big"
                         alt="My image"/>
                    <!--    </a>-->
                </div>
            </div>
            <div class="span42">
                <div class="row41">
                    <a href="panel2" class="menu">
                        <img src="{% static "img/companies/coswiecej2-DLA-FIRM_07.jpg" %}" class="companies-big"
                             alt="My image"/>
                    </a>
                </div>
                <div class="row41">
                    <img src="{% static "img/companies/coswiecej2-DLA-FIRM_18.jpg" %}" class="companies-big"
                         alt="My image"/>
                </div>
            </div>
        </div>
    </div>

    <span class="shop-name-span">Nr sklepu</span>
    <span class="shop-name-span">Nazwa sklepu</span>
    <select name="carlist" class="company-name" id="shop_list">
        <option value="-1">Nowy sklep</option>
        {% if shops %}
            {% for shop in shops %}
                <option value="{{ shop.id }}">
                    <div style="float:left;">{{ forloop.counter }}</div>
                    <div style="margin-left:50px">{{ shop.name }}</div>
                </option>
            {% endfor %}
            <script type="text/javascript">
                var count = jQuery("#shop_list").length;
                if (count > 0) {
                    jQuery('#shop_list :nth-child(2)').prop('selected', true);
                    getShop(jQuery('#shop_list').val());
                    getPermanentOffers(jQuery('#shop_list').val());
                    getPromotionOffers(jQuery('#shop_list').val());
                }
            </script>
        {% endif %}
    </select>

    <div id="panel1" class="content show">
        <div class="userLogin">
            <form method="post" id="companyShopRegistrationForm" class="form-inline" role="form">
                {% csrf_token %}
                <div class="form-group">
                    {% if form.name.errors %}
                        <span class="error"> {{ form.name.errors.as_text }}</span>
                    {% endif %}
                    {% comment %}<div class="labelEt">
                        <span class="labelText">Nazwa sklepu</span>
                    </div>{% endcomment %}
                    {% render_field form.name placeholder="Nazwa" class="companies-input-wide" type="text" id="id-shop-name" %}
                    {% if form.description.errors %}
                        <span class="error"> {{ form.description.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% comment %}<div class="labelEt">
                        <span class="labelText">Krótki opis sklepu</span>
                    </div>{% endcomment %}
                    {% render_field form.description onkeyup="zliczaj_znaki()" placeholder="Opis" class="companies-input-wide" id="id-shop-description" %}
                    {% if form.page.errors %}
                        <span class="error"> {{ form.page.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% comment %}<div class="labelEt">
                        <span class="labelText">Strona WWW</span>
                    </div>{% endcomment %}
                    {% render_field form.page placeholder="Strona WWW" class="companies-input-wide" id="id-shop-www" %}
                    {% if form.street.errors %}
                        <span class="error"> {{ form.street.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% comment %}<div class="labelEt">
                        <span class="labelText">Adres sklepu</span>
                    </div>{% endcomment %}
                    {% if form.city.errors %}
                        <span class="error"> {{ form.city.errors.as_text }}</span>
                    {% endif %}
                    {% render_field form.city placeholder="Miasto" class="companies-input-left" id="id-shop-city" type="text" %}
                    {% if form.city.errors %}
                        <span class="error"> {{ form.city.errors.as_text }}</span>
                    {% endif %}
                    {% render_field form.street placeholder="Ulica" class="companies-input" id="id-shop-address-street" %}
                    {% if form.street.errors %}
                        <span class="error"> {{ form.street.errors.as_text }}</span>
                    {% endif %}
                    {% render_field form.street_number placeholder="Nr domu" class="companies-input-right" id="id-shop-address-street-number" %}
                    {% if form.street_number.errors %}
                        <span class="error"> {{ form.street_number.errors.as_text }}</span>
                    {% endif %}
                    {% render_field form.flat placeholder="Nr lokalu" class="companies-input-right" id="id-shop-address-street-flat" %}
                    {% if form.flat.errors %}
                        <span class="error"> {{ form.flat.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group last">
                    {% comment %}<div class="labelEt">
                        <span class="labelText">Kontakt</span>
                    </div>{% endcomment %}
                    {% if form.city.errors %}
                        <span class="error"> {{ form.telephone.errors.as_text }}</span>
                    {% endif %}
                    {% render_field form.telephone placeholder="Telefon" class="companies-input-left" type="text" id="id-shop-phone" %}
                    {% if form.telephone.errors %}
                        <span class="error"> {{ form.telephone.errors.as_text }}</span>
                    {% endif %}
                    {% render_field form.email placeholder="E-mail" class="companies-input-left-email" id="id-shop-email" %}
                    {% if form.email.errors %}
                        <span class="error"> {{ form.email.errors.as_text }}</span>
                    {% endif %}
                </div>
                <span class="shop-name-span">Uzupełnij dni i godziny otwarcia sklepu</span>

                <div class="day-open-panel">
                    <div class="row60">
                        <div class="day-open">
                            <div class="day-open-label day-element-size">
                                Pon.
                            </div>
                            {% render_field hours_open.mon_start class="day-open-input" type="text" maxlength=2 %}
                            {% render_field hours_open.mon_end class="day-open-input" type="text" maxlength=2 %}
                            <label class="day-choose">
                                <input type="checkbox" id="monday" name="radios" value="monday" class="search">
                                <img src="{% static "img/navigation/check.png" %}" class="yes-or-no"/>
                            </label>
                        </div>
                        <div class="day-open">
                            <div class="day-open-label day-element-size">
                                Wt.
                            </div>
                            {% render_field hours_open.tue_start class="day-open-input" type="text" maxlength=2 %}
                            {% render_field hours_open.tue_end class="day-open-input" type="text" maxlength=2 %}
                            <label class="day-choose">
                                <input type="checkbox" id="tuesday" name="radios" value="tuesday" class="search">
                                <img src="{% static "img/navigation/check.png" %}" class="yes-or-no"/>
                            </label>
                        </div>
                        <div class="day-open">
                            <div class="day-open-label day-element-size">
                                Śr.
                            </div>
                            {% render_field hours_open.wed_start class="day-open-input" type="text" maxlength=2 %}
                            {% render_field hours_open.wed_end class="day-open-input" type="text" maxlength=2 %}
                            <label class="day-choose">
                                <input type="checkbox" id="wednesday" name="radios" value="wednesday" class="search">
                                <img src="{% static "img/navigation/check.png" %}" class="yes-or-no"/>
                            </label>
                        </div>
                    </div>
                    <div class="row61">
                        <div class="day-open">
                            <div class="day-open-label day-element-size">
                                Czw.
                            </div>
                            {% render_field hours_open.thur_start class="day-open-input" type="text" maxlength=2 %}
                            {% render_field hours_open.thur_end class="day-open-input" type="text" maxlength=2 %}
                            <label class="day-choose">
                                <input type="checkbox" id="thursday" name="radios" value="thursday" class="search">
                                <img src="{% static "img/navigation/check.png" %}" class="yes-or-no"/>
                            </label>
                        </div>
                        <div class="day-open">
                            <div class="day-open-label day-element-size">
                                Pią.
                            </div>
                            {% render_field hours_open.frid_start class="day-open-input" type="text" maxlength=2 %}
                            {% render_field hours_open.frid_end class="day-open-input" type="text" maxlength=2 %}
                            <label class="day-choose">
                                <input type="checkbox" id="friday" name="radios" value="friday" class="search">
                                <img src="{% static "img/navigation/check.png" %}" class="yes-or-no"/>
                            </label>
                        </div>
                        <div class="day-open">
                            <div class="day-open-label day-element-size">
                                Sob.
                            </div>
                            {% render_field hours_open.sat_start class="day-open-input" type="text" maxlength=2 %}
                            {% render_field hours_open.sat_end class="day-open-input" type="text" maxlength=2 %}
                            <label class="day-choose">
                                <input type="checkbox" id="saturday" name="radios" value="saturday" class="search">
                                <img src="{% static "img/navigation/check.png" %}" class="yes-or-no"/>
                            </label>
                        </div>
                    </div>
                    <div class="row61">
                        <div class="day-open">
                            <div class="day-open-label day-element-size">
                                Nd.
                            </div>
                            {% render_field hours_open.sun_start class="day-open-input" type="text" maxlength=2 %}
                            {% render_field hours_open.sun_end class="day-open-input" type="text" maxlength=2 %}
                            <label class="day-choose">
                                <input type="checkbox" id="sunday" name="radios" value="sunday" class="search">
                                <img src="{% static "img/navigation/check.png" %}" class="yes-or-no"/>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="company-button"><input type="submit" id="addButton" value="Zapisz"/></div>
            </form>

        </div>

    </div>
    <div id="panel2" class="content">
        <div class="userLogin">
            <h2> <span class="id-shop-name">
                </span></h2>
            <hr>
            <form method="post" id="permanentOffer" class="form-inline" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field permanent_offer.permanent_id type="hidden" value="0" class="companies-input-wide" id="permanent_id" name='permanent_id' %}
                    {% if permanent_offer.name.errors %}
                        <span class="error"> {{ permanent_offer.name.errors.as_text }}</span>
                    {% endif %}
                    {% comment %}<div class="labelEt">
                    <span class="labelText">Nazwa</span>
                </div>{% endcomment %}
                    {% render_field permanent_offer.name placeholder="Nazwa" class="companies-input-wide" id="id-permanent-name" name='permanent_name' %}
                    {% if permanent_offer.date.errors %}
                        <span class="error"> {{ permanent_offer.date.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="types" for="menu_permanent_man">
                        <input id="menu_permanent_man" type="checkbox" name="types" value="man"/>
                        <img src="{% static "img/coswiecej2_01_18.png" %}" class="main-form-up category man"
                             category="man" alt="Mężczyzna"/>
                    </label>
                    <label class="types" for="menu_permanent_woman">
                        <input id="menu_permanent_woman" type="checkbox" name="types" value="woman"/>
                        <img src="{% static "img/coswiecej2_20.png" %}" class="main-form-up category woman"
                             category="woman" alt="Kobieta"/>
                    </label>
                    <label class="types" for="menu_permanent_kid">
                        <input id="menu_permanent_kid" type="checkbox" name="types" value="kid"/>
                        <img src="{% static "img/coswiecej2_01_22.png" %}" class="main-form-up category kid"
                             category="kid" alt="Dziecko"/>
                    </label>
                    <label class="types" for="menu_permanent_summer">
                        <input id="menu_permanent_summer" type="checkbox" name="types" value="summer"/>
                        <img src="{% static "img/coswiecej2_24.png" %}" class="main-form-up summer category"
                             category="summer" alt="Summer"/>
                    </label>
                    <label class="types" for="menu_permanent_autumn">
                        <input id="menu_permanent_autumn" type="checkbox" name="types" value="autumn"/>
                        <img src="{% static "img/coswiecej2_25.png" %}" class="main-form-up autumn category"
                             category="autumn" alt="Jesień"/>
                    </label>
                    <label class="types" for="menu_permanent_winter">
                        <input id="menu_permanent_winter" type="checkbox" name="types" value="winter"/>
                        <img src="{% static "img/coswiecej2_27.png" %}" class="main-form-up winter category"
                             category="winter" alt="Zima"/>
                    </label>
                    <label class="types" for="menu_permanent_spring">
                        <input id="menu_permanent_spring" type="checkbox" name="types" value="spring"/>
                        <img src="{% static "img/coswiecej2_29.png" %}" class="main-form-up category spring"
                             category="spring" alt="Wiosna"/>
                    </label>
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Wybierz kategorię produktu</span>
                    </div>
                    <img src="{% static "img/coswiecej2_17.png" %}" class="main-form-up tooltip_display_permanent"
                         alt="My image"/>
                    {% render_field permanent_offer.category class="companies-input" type="hidden" id="id-category-permanent" %}
                    {% if permanent_offer.category.errors %}
                        <span class="error"> {{ permanent_offer.category.errors.as_text }}</span>
                    {% endif %}
                    <div id="permanent-categories"></div>
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Wybierz termin obowiązywania promocji</span>
                    </div>
                    {% render_field permanent_offer.date_from placeholder="Od" class="companies-input-left promotion" id="id-permanent-date-from" name="date_from" %}
                    {% if permanent_offer.price.errors %}
                        <span class="error"> {{ permanent_offer.price.errors.as_text }}</span>
                    {% endif %}
                    {% render_field permanent_offer.date_to placeholder="Do" class="companies-input-left promotion" id="id-permanent-date-to" name="date_to" %}
                    {% if permanent_offer.price.errors %}
                        <span class="error"> {{ permanent_offer.price.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Podaj cenę produktu</span>
                    </div>
                    {% render_field permanent_offer.price placeholder="Cena" class="companies-input-left" id="permanent-offer-price" name='price' %}
                    {% if permanent_offer.price.errors %}
                        <span class="error"> {{ permanent_offer.price.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Obrazek</span>
                    </div>
                    {% if permanent_offer.picture.errors %}
                        <span class="error"> {{ permanent_offer.picture.errors.as_text }}</span>
                    {% endif %}
                    {% render_field permanent_offer.picture class="companies-input-left" onchange="upload_img_permanent(this);" name="picture" %}
                    {% if permanent_offer.picture.errors %}
                        <span class="error"> {{ permanent_offer.picture.errors.as_text }}</span>
                    {% endif %}
                    <input type="hidden" name="MAX_FILE_SIZE" value="294304"/>
                </div>
                <div class="form-group">
                    {% render_field permanent_offer.shop_id class="companies-input" type="hidden" id="id-shop" %}
                </div>
                <div class="company-button"><input type="submit" value="Zapisz"/></div>
            </form>
        </div>
    </div>
    <div id="panel3" class="content">
        <div class="userLogin">
            <h2> <span class="id-shop-name">
                </span></h2>
            <hr>
            <form method="post" id="userRegistrationForm" class="form-inline" role="form"
                  action="/accounts/user/login/">
                {% csrf_token %}
                <div class="form-group">
                    {% if coupon_offer.name.errors %}
                        <span class="error"> {{ coupon_offer.name.errors.as_text }}</span>
                    {% endif %}
                    {% comment %}<div class="labelEt">
                    <span class="labelText">Nazwa</span>
                </div>{% endcomment %}
                    {% render_field coupon_offer.name placeholder="Nazwa" class="companies-input-wide" type="text" id="coupon-name" %}
                    {% if coupon_offer.date.errors %}
                        <span class="error"> {{ form_offer.date.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% comment %}<div class="labelEt">
                    <span class="labelText">Data</span>
                </div>{% endcomment %}
                    {% render_field coupon_offer.date_from placeholder="Od" class="companies-input-left coupon" id="coupon-datepicker-from" %}
                    {% if coupon_offer.price.errors %}
                        <span class="error"> {{ coupon_offer.price.errors.as_text }}</span>
                    {% endif %}
                    {% render_field coupon_offer.date_to placeholder="Do" class="companies-input-left coupon" id="coupon-datepicker-to" %}
                    {% if coupon_offer.price.errors %}
                        <span class="error"> {{ coupon_offer.price.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% comment %} <div class="labelEt">
                    <span class="labelText">Cena</span>
                </div>{% endcomment %}
                    {% render_field coupon_offer.price placeholder="Cena" class="companies-input-wide" %}
                    {% if coupon_offer.price.errors %}
                        <span class="error"> {{ coupon_offer.price.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Obrazek</span>
                    </div>
                    {% if coupon_offer.picture.errors %}
                        <span class="error"> {{ coupon_offer.picture.errors.as_text }}</span>
                    {% endif %}
                    {% render_field coupon_offer.picture class="companies-input-left coupon" onchange="upload_img(this);" %}
                    {% if coupon_offer.picture.errors %}
                        <span class="error"> {{ coupon_offer.picture.errors.as_text }}</span>
                    {% endif %}
                    {% render_field coupon_offer.icon placeholder="Kategorie" class="companies-input tooltip_display" id="coupon-categories" %}
                    {% if coupon_offer.icon.errors %}
                        <span class="error"> {{ coupon_offer.icon.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="company-button"><input type="submit" value="Zapisz"/></div>
            </form>
        </div>
    </div>

    <div id="panel4" class="content">
        <div class="userLogin">
            <h2> <span class="id-shop-name">
                </span></h2>
            <hr>
            <form method="post" id="promotionForm" class="form-inline" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field promotion_offer.promotion_id type="hidden" value="0" class="companies-input-wide" id="promotion_id" name='promotion_id' %}
                    {% if promotion_offer.name.errors %}
                        <span class="error"> {{ promotion_offer.name.errors.as_text }}</span>
                    {% endif %}
                    {% comment %}<div class="labelEt">
                    <span class="labelText">Nazwa</span>
                </div>{% endcomment %}
                    {% render_field promotion_offer.name placeholder="Nazwa" class="companies-input-wide" id="id-promotion-name" name='promotion_name' %}
                    {% if promotion_offer.date.errors %}
                        <span class="error"> {{ promotion_offer.date.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="types" for="menu_offer_man">
                        <input id="menu_offer_man" type="checkbox" name="types" value="man"/>
                        <img src="{% static "img/coswiecej2_01_18.png" %}" class="main-form-up category man"
                             category="man" alt="Mężczyzna"/>
                    </label>
                    <label class="types" for="menu_offer_woman">
                        <input id="menu_offer_woman" type="checkbox" name="types" value="woman"/>
                        <img src="{% static "img/coswiecej2_20.png" %}" class="main-form-up category woman"
                             category="woman" alt="Kobieta"/>
                    </label>
                    <label class="types" for="menu_offer_kid">
                        <input id="menu_offer_kid" type="checkbox" name="types" value="kid"/>
                        <img src="{% static "img/coswiecej2_01_22.png" %}" class="main-form-up category kid"
                             category="kid" alt="Dziecko"/>
                    </label>
                    <label class="types" for="menu_offer_summer">
                        <input id="menu_offer_summer" type="checkbox" name="types" value="summer"/>
                        <img src="{% static "img/coswiecej2_24.png" %}" class="main-form-up summer category"
                             category="summer" alt="Summer"/>
                    </label>
                    <label class="types" for="menu_offer_autumn">
                        <input id="menu_offer_autumn" type="checkbox" name="types" value="autumn"/>
                        <img src="{% static "img/coswiecej2_25.png" %}" class="main-form-up autumn category"
                             category="autumn" alt="Jesień"/>
                    </label>
                    <label class="types" for="menu_offer_winter">
                        <input id="menu_offer_winter" type="checkbox" name="types" value="winter"/>
                        <img src="{% static "img/coswiecej2_27.png" %}" class="main-form-up winter category"
                             category="winter" alt="Zima"/>
                    </label>
                    <label class="types" for="menu_offer_spring">
                        <input id="menu_offer_spring" type="checkbox" name="types" value="spring"/>
                        <img src="{% static "img/coswiecej2_29.png" %}" class="main-form-up category spring"
                             category="spring" alt="Wiosna"/>
                    </label>
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Wybierz kategorię produktu</span>
                    </div>
                    <img src="{% static "img/coswiecej2_17.png" %}" class="main-form-up tooltip_display"
                         alt="My image"/>
                    {% render_field promotion_offer.category class="companies-input" type="hidden" id="id-category" %}
                    {% if promotion_offer.category.errors %}
                        <span class="error"> {{ promotion_offer.category.errors.as_text }}</span>
                    {% endif %}
                    <div id="promotion-categories"></div>
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Wybierz termin obowiązywania promocji</span>
                    </div>
                    {% render_field promotion_offer.date_from placeholder="Od" class="companies-input-left promotion" id="id-promotion-date-from" name="date_from" %}
                    {% if promotion_offer.price.errors %}
                        <span class="error"> {{ promotion_offer.price.errors.as_text }}</span>
                    {% endif %}
                    {% render_field promotion_offer.date_to placeholder="Do" class="companies-input-left promotion" id="id-promotion-date-to" name="date_to" %}
                    {% if promotion_offer.price.errors %}
                        <span class="error"> {{ promotion_offer.price.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Podaj ceny produktów</span>
                    </div>
                    {% render_field promotion_offer.price_before placeholder="Cena przed obniżką" class="companies-input-left" id="promotion-price-before" name='price-before' %}
                    {% if promotion_offer.price_before.errors %}
                        <span class="error"> {{ promotion_offer.price_before.errors.as_text }}</span>
                    {% endif %}
                    {% render_field promotion_offer.price_after placeholder="Cena w promocji" class="companies-input-left" id="promotion-price-after" name='price-after ' %}
                    {% if promotion_offer.price_after.errors %}
                        <span class="error"> {{ promotion_offer.price_after.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="labelEt">
                        <span class="labelText">Obrazek</span>
                    </div>
                    {% if promotion_offer.picture.errors %}
                        <span class="error"> {{ promotion_offer.picture.errors.as_text }}</span>
                    {% endif %}
                    {% render_field promotion_offer.picture class="companies-input-left" onchange="upload_img_promotion(this);" name="picture" %}
                    {% if promotion_offer.picture.errors %}
                        <span class="error"> {{ promotion_offer.picture.errors.as_text }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% render_field promotion_offer.shop_id class="companies-input" type="hidden" id="id-shop-promotion" %}
                </div>
                <div class="company-button"><input type="submit" value="Zapisz"/></div>
            </form>
        </div>
    </div>

    <div class="add-promotion">
        <input type="checkbox" id="radio1" name="radios" value="all" checked>
        <label for="radio1">Abonament <span name="price1" style="display:none">19,69zł</span> <span name="price2">25,69zł</span></label>
        <input type="checkbox" id="radio2" name="radios" value="false">
        <label for="radio2">Bon <BR><span name="price1" style="display:none">9,69zł</span><span
                name="price2">12,69zł</span></label>
        <input type="checkbox" id="radio3" name="radios" value="true">
        <label for="radio3">Wizytówka <span name="price1" style="display:none">69,69zł</span><span
                name="price2">99,69zł</span></label>
        <input type="checkbox" id="radio4" name="radios" value="true">
        <label for="radio4">Reklama <span name="price1" style="display:none">33</span><span
                name="price2">33</span></label>

        <div class="span333">
            <div class="add-promotion-period">
                <input type="radio" id="pieriod1" name="periods" value="true" checked>
                <label for="pieriod1">6 miesięcy</label>
            </div>
            <div class="add-promotion-period">
                <input type="radio" id="pieriod2" name="periods" value="true">
                <label for="pieriod2">12 miesięcy</label>
            </div>
        </div>
        <div class="row331">
            RAZEM:
            <div class="sum"></div>
            <div class="company-button-pay"><input type="submit" id="addButton" value="Zapłać"/></div>
        </div>
    </div>
    </div>
    <div class="span445">
        <div id="dialog2" title="Basic dialog"
             style="height:680px;float:center;background-color:#fff9d5;border:10px;border-color:#297d7d;border-style:solid;">

            <span class="id-shop-name">
                </span>
                <span class="id-shop-description">
                </span>

            <div class="row901">
                <img src="{% static "img/companies/1383665855_home.png" %}" class="" alt="My image"/>
                <span class="companies_font">Adres:</span>
                 <span class="id-shop-city">
                </span>
                <span class="id-shop-address-street">
                </span>
                 <span class="id-shop-address-street-number">
                </span>
                 <span class="id-shop-address-street-flat">
                </span>
            </div>
            <div class="row901">
                <img src="{% static "img/companies/1383665649_clock.png" %}" class="" alt="My image"/>
                <span class="companies_font">Godz. otwarcia:</span>
                <span class="id-shop-open">
                   <span class="companies_font">pon.</span><span class="hours" day="monday"></span>wt. <span
                        class="hours" day="tuesday"></span>śr. <span class="hours" day="wednesday"></span>czw. <span
                        class="hours" day="thursday"></span>pią. <span class="hours" day="friday"></span>sob. <span
                        class="hours" day="saturday"></span>nd. <span class="hours" day="sunday"></span>
                </span>
            </div>
            <div class="row901">
                <div class="span900">
                    <img src="{% static "img/companies/1383666575_contact.png" %}" class="" alt="My image"/>
                    <span class="companies_font">Tel.:</span>
                    <span class="id-shop-phone">
                </span>
                </div>
                <div class="span901">
                    <img src="{% static "img/companies/1383666555_website.png" %}" class="" alt="My image"/>
                     <span class="id-shop-www">
                </span>
                </div>
                <div class="span901">
                    <img src="{% static "img/companies/1383666114_mail.png" %}" class="" alt="My image"/>
                     <span class="id-shop-email">
                </span>
                </div>
            </div>
            <div class="row902">
                <div class="promotion_title">
                    <h3>Promocja:</h3>
                </div>
                <div id="buttons">
                    <a href="#" id="prev">prev</a>
                </div>
                <div id="buttons">
                    <a href="#" id="next">next</a>
                </div>
                <ul class="slider-promotion" id="id-slider-promotion">
                </ul>
            </div>
            <div class="row902">
                <div class="promotion_title">
                    <h3>Oferta stała:</h3>
                </div>
                <div id="buttons">
                    <a href="#" id="prev-permanent">prev</a>
                </div>
                <div id="buttons">
                    <a href="#" id="next-permanent">next</a>
                </div>
                <ul class="slider-permanent" id="id-slider-permanent">
                </ul>
            </div>
        </div>
    </div>
    </div>

{% endblock %}