<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load staticfiles %}

<html lang="pl">
<head>
<title>{% block title %} Coś więcej {% endblock %}</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Michał Uziak">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript"
        src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel.js"></script>
<script src="{% static "js/main-menu-images.js" %}"></script>
<script src="{% static "js/company/shop.js" %}"></script>
<script type="text/javascript" src="{% static "js/company/offer.js" %}"></script>
<script type="text/javascript" src="{% static "js/company/promotion.js" %}"></script>
<script type="text/javascript" src="{% static "js/company/slides-change.js" %}"></script>
<script type="text/javascript" src="{% static "js/company/category-click.js" %}"></script>
{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>


{% bootstrap_javascript_tag %}

<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script type="text/javascript">

jQuery(document).ready(function () {

    jQuery('.card').on('mouseover', function () {
        alert("dupa");
        jQuery(".span445").dialog({modal: true});

    });

    /*   jQuery(document.body).delegate(".card", "hover", function(){
     alert('');
     });
     */
    jQuery(document)
            .ajaxStart(function () {
                jQuery('#loading').show();
            }).ajaxStop(function () {
                jQuery('#loading').hide();
            });

    var latlng = new google.maps.LatLng("52.1", "16.1");
    var mapOptions = {
        zoom: 13,
        center: latlng,
        mapTypeControl: false,
        navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(jQuery('.map')[0], mapOptions);
    var markerShop = []
    var iw = []

    function addmarker(latilongi, title, i, distance, address, categories, id) {
        var shopDistance = distance.toFixed(1) + "km";
        var content = "";
        markerShop[i] = new MarkerWithLabel({
            position: latilongi,
            map: map,
            icon: "{% static 'img/companies/marker.png' %}",
            labelContent: shopDistance,
            labelAnchor: new google.maps.Point(30, 40),
            labelClass: "labels", // the CSS class for the label
            labelInBackground: false,
            labelVisible: true,
            title: title
            //  icon: "http://maps.google.com/mapfiles/ms/micons/blue.png"
        });

        var categoriesImages = "<BR>";
        for (iter = 0; iter < categories.length; iter++) {
            if (categories[iter] != "") {
                for (j = 0; j < mainFormIcons.length; j++) {
                    if (mainFormIcons[j][4] == categories[iter]) {
                        categoriesImages += "<img src='/static/img/button_up/" + mainFormIcons[j][1] + "' class='main-form-up' style='margin-left:3px' alt='My image' name='" + mainFormIcons[j][4] + "'/>"
                    }
                }

                if (categories[iter] == "woman")  categoriesImages += "<img src='/static/img/coswiecej2_20.png' class='main-form-up' style='margin-left:3px' alt='My image' name='woman'/>"
                if (categories[iter] == "man")  categoriesImages += "<img src='/static/img/coswiecej2_01_18.png' class='main-form-up' style='margin-left:3px' alt='My image' name='man'/>"
                if (categories[iter] == "kid")  categoriesImages += "<img src='/static/img/coswiecej2_22.png' class='main-form-up' style='margin-left:3px' alt='My image' name='kid'/>"
                if (categories[iter] == "summer")  categoriesImages += "<img src='/static/img/coswiecej2_24.png' class='main-form-up' style='margin-left:3px' alt='My image' name='summer'/>"
            }
        }

        iw[i] = new google.maps.InfoWindow({
            content: "<div style='width:350px; height:250px'><div style='float:right;'><img class ='map_image' src={% static 'img/companies/coswiecej2_93.png' %}/>" +
                    "<img class='card map_image'  src={% static 'img/companies/coswiecej2_82.png' %}/></div>" + "<div class='infoWindow'><h2>" + title + "</h2>" + address + "<BR>" +
                    "Oceń: <img src={% static 'img/companies/gwiazdka1.png' %}/> <img src={% static 'img/companies/gwiazdka1.png' %}/> <img src={% static 'img/companies/gwiazdka1.png' %}/> <img src={% static 'img/companies/gwiazdka2.png' %}/> <img src={% static 'img/companies/gwiazdka2.png' %}/>" +
                    "<br>Odległość " + shopDistance + categoriesImages + "</div>"



        });

        google.maps.event.addListener(markerShop[i], "click", function (e) {
            iw[i].open(this.map, markerShop[i]);


            jQuery('.card').on('click', function () {

                var $this = jQuery(this);
                var outputHolder = jQuery("<div id='.uimodal-output'></div>");
                jQuery("body").append(outputHolder);
                outputHolder.load("/shop/preview/", null, function () {
                    outputHolder.dialog({
                        height: 670,
                        width: 600,
                        modal: true,
                        dialogClass: 'success-dialog',
                        close: function () {
                            jQuery(this).dialog('destroy').remove()
                            //jQuery(this).dialog('close');
                        }

                    });
                });

                getShop(id);
                getPermanentOffers(id);
                getPromotionOffers(id);

                return false;

            });

        });
        // map.setCenter(marker.getPosition())
    }

    var marker = new MarkerWithLabel({
        position: latlng,
        map: map,
        labelContent: "Tutaj będzie zawartość markera",
        labelAnchor: new google.maps.Point(3, 30),
        labelClass: "labels", // the CSS class for the label
        labelInBackground: false,
        labelVisible: false,
        title: "Jesteś tutaj",
        draggable: true
        // icon: "http://maps.google.com/mapfiles/ms/micons/blue.png"
    });

    var iw = new google.maps.InfoWindow({
        content: "Tuta bedzie opis sklepu",
        backgroundClassName: 'infoWindow'
    });
    google.maps.event.addListener(marker, "click", function (e) {
        iw.open(this.map, marker);
    });


    var distanceCircle = {
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        //fillColor: '#FF0000',
        // fillOpacity: 0.35,
        fillOpacity: 0,
        map: map,
        center: marker.center,
        radius: 4000
    };

    cityCircle = new google.maps.Circle(distanceCircle)

    function removeMarkers() {
        for (i = 0; i < markerShop.length; i++) {
            markerShop[i].setMap(null);
        }
    }

    jQuery('#localizationForm').submit(function (event) {
        jQuery.ajax({
            type: 'POST',
            url: "/localization/map/",
            data: jQuery(this).serialize(),
            error: function (data) {
                alert(JSON.stringify(data));

            },
            success: function (data) {

                //map.clearOverlays(); - usuwa wszystkie markery
                marker.setPosition(new google.maps.LatLng(data[0][3], data[0][1]));
                cityCircle.setCenter(new google.maps.LatLng(data[0][3], data[0][1]));
                var shops = data[0][5]
                var shops_categories = data[0][7]
                removeMarkers()
                for (i = 0; i < shops.length; i++) {
                    var latlng2 = new google.maps.LatLng(parseFloat(shops[i][2]), parseFloat(shops[i][1]));
                    addmarker(latlng2, shops[i][0], i, parseFloat(shops[i][3]) / 1000, shops[i][4], shops_categories[i], shops[i][5]);

                }
                map.panTo(new google.maps.LatLng(parseFloat(data[0][3]), parseFloat(data[0][1])));
                google.maps.event.trigger(map, 'resize');

            }
        });
        return false;
    });

    jQuery('.popUp#user').bind('click', function () {
        var $this = jQuery(this);
        var outputHolder = jQuery("<div id='.uimodal-output'></div>");
        jQuery("body").append(outputHolder);
        outputHolder.load($this.attr("href"), null, function () {
            outputHolder.dialog({
                height: 470,
                width: 600,
                modal: true,
                dialogClass: 'no-close success-dialog',
                close: function () {
                    jQuery(this).dialog('destroy').remove()
                }

            });
        });

        return false;
    });

    jQuery('.popUp#aboutUs').bind('click', function () {
        jQuery("#about_us").dialog({
            buttons: {
                'Zamknij': function () {
                    jQuery(this).dialog('close');
                }
            },
            height: 540,
            width: 600,
            modal: true,
            dialogClass: 'success-dialog',
            close: function () {
                jQuery(this).dialog('destroy');
            }

        });

        return false;
    });

    jQuery('.popUpLogout#user').click(function (event) {

        jQuery.ajax({
            type: 'GET',
            url: '/accounts/user/logout/',
            error: function (data) {
                var error = jQuery.parseJSON(data.responseText);
                alert(error.error);
                window.location.href = '{% url 'index' %}';
            },
            success: function (data) {
                var success = jQuery.parseJSON(data.responseText);
                alert(success.success);
                jQuery('.popUp#user').dialog('destroy').remove()
            }
        });
        return false;
    });


});

jQuery(document).ready(function () {


    jQuery('.popUp#company').bind('click', function () {
        var $this = jQuery(this);
        var outputHolder = jQuery("<div id='.uimodal-output'></div>");

        jQuery("body").append(outputHolder);

        outputHolder.load($this.attr("href"), null, function () {
            outputHolder.dialog({
                height: 620,
                width: 610,
                modal: false,
                position: [520, 200],
                dialogClass: 'success-dialog',
                close: function () {
                    jQuery(this).dialog('destroy').remove();
                    jQuery('#dialog2').dialog('destroy');
                }

            });
        });


        jQuery('#dialog2').dialog({
            height: 620,
            width: 210,
            modal: true,
            position: [300, 200],
            dialogClass: 'success-dialog',
            close: function () {
                jQuery(this).dialog('destroy');
                jQuery(outputHolder).dialog('destroy').remove();
            }
        });

        jQuery("#dialog2").next('.dialogbox').dialog('open');

        return false;
    });

    jQuery('.popUp#forCompany').bind('click', function () {


        var $this = jQuery(this);
        var outputHolder = jQuery("<div id='.uimodal-output'></div>");

        jQuery("body").append(outputHolder);
        outputHolder.load($this.attr("href"), null, function () {
            outputHolder.dialog({
                height: 720,
                width: 1000,
                modal: false,
                position: [150, 100],
                dialogClass: 'success-dialog',
                close: function () {
                    //jQuery(this).dialog('destroy').remove();
                    jQuery(this).dialog().dialog('close');
                    outputHolder.remove();
                }

            });

        });
        return false;

    });

});

jQuery(function () {
    jQuery("#main-calendar").datepicker({

        buttonImage: 'static/img/coswiecej2_17.png',
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        showOn: 'both',
        class: 'main-form-up',
        minDate: 0,
        onSelect: function (dateText, inst) {

            //tutaj będzie zmiana ikony na czerwoną
        }
    });

    jQuery(".ui-datepicker-trigger").addClass("main-form-up");


});


</script>

</head>

{% bootstrap_messages %}

<body>

<div class="container">

    {% block content %}{% endblock %}

</div>

<script type="text/javascript">
    createImages("Dupa");
</script>

<div id="dialog2" title="Basic dialog">
    <p style="text-align:center;">

    <div style="float:center;color:#FFF;display: none;">CENNIK</div>
    </p>
</div>

<div id="loading" style="display:none"><img src="{% static "img/logo_load.gif" %}" class="logo-load" alt="Logo"/></div>

<div id="about_us" title="" style="display:none;">

    <div style="float:center;color:#FFF;">
        <img src="{% static "img/logo_load.gif" %}" class="logo-about" alt="Logo"/>

        <h1 class="about">O nas</h1>

        <p class="about-us-text">
            "Coś więcej" to nasze motto, dajemy naszym klientom coś więcej. Głównym celem naszej działalności jest
            przedstawienie w jasny, czytelny sposób bazy aktualnych promocji na wybrane artykuły z branży odzieżowej w
            sklepach o określonej lokalizacji na terenie całej Polski.
            Pewność otrzymywania najnowszych, aktualnych informacji o produktach i usługach dostępnych w okolicznych
            sklepach, w promocyjnych cenach.
        </p>

        <p class="about-us-text">
            Korzyści dla sklepów:
        <ul>
            <li>zaznaczenie swojej obecności na lokalnym rynku</li>
            <li>Reklamy, możliwość realnej konkurencji z największymi sieciówkami</li>
            <li>Bonusy i sesje zdjęciowe do wizytówek.</li>
        </ul>
        </p>
        <p class="about-us-text">
            Korzyści dla konsumentów:
        <ul>
            <li>Precyzyjne wyszukiwanie promocji w sklepach w zależności od ich lokalizacji, rodzaju towaru, odległości
                od wybranego miejsca
            </li>
            <li>Informacja o ciekawych sklepach, o istnieniu których często nie mieliśmy pojęcia</li>
            <li>Pewność otrzymywania najnowszych, aktualnych informacji o produktach i usługach dostępnych w okolicznych
                sklepach, w promocyjnych cenach.
            </li>
        </ul>
        </p>
    </div>

</div>
</div>
</body>
<script type="text/javascript" src="{% static "js/company/category-click.js" %}"></script>

</html>