{% extends "index.html" %}
{% load staticfiles %}

{% block title %}Strona główna{% endblock %}

{% block content %}

    <div class="row100">

        <img src="{% static "img/pol.png" %}" class="language-button" alt="My image"/>
        <img src="{% static "img/uk.png" %}" class="language-button" alt="My image"/>
        <img src="{% static "img/rus.png" %}" class="language-button" alt="My image"/>

        {%  if user.groups.all.0|stringformat:"s" == 'user' %}
        <a href="#" class="popUpLogout" id="user">Wyloguj użytkownika</a>
        {% elif user.groups.all.0|stringformat:"s" == 'company'%}
        <a href="#" class="popUpLogout" id="user">Wyloguj firmę</a>
        {% else %}
        <a href="accounts/user/login/" class="popUp" id="user">Zaloguj</a>
        <a href="accounts/company/register/" class="popUp" id="company">Dla firm</a>
        {% endif %}

    </div>
    <div class="row10">
        <div class="span10">

            <img src="{% static "img/logo.png" %}" class="logo" alt="Logo"/>

        </div>

        <div class="span101">

            <img src="{% static "img/fb.png" %}" class="social" alt="My image"/>
            <img src="{% static "img/twitter.png" %}" class="social" alt="My image"/>
            <img src="{% static "img/rss.png" %}" class="social" alt="My image"/>

        </div>

    </div>

    <div class="row">
        <div class="span3">
            <form class="form-inline" id="localizationForm" method="post" role="form">
                 {% csrf_token %}
                <fieldset>
                <div class="row1">
                        <img src="{% static "img/coswiecej2_01_03.png" %}" class="main-form" alt="My image"/>
                        <input type="text" class="input-medium" name="city" placeholder="Miasto">
                        <input type="text" class="input-medium" name="address" placeholder="Lokalizacja">

                        <img src="{% static "img/coswiecej2_01_11.png" %}" class="main-form" alt="My image"/>
                    </div>
                </fieldset>
            <fieldset>
                    <div class="row2">
                        <label class="types" for="calendar">
                        <input id="calendar" type="checkbox" name="menu_types" value="big"/>
                        <input type="hidden" id="main-calendar" />
                       <!-- <img src="{% static "img/coswiecej2_17.png" %}" class="main-form-up main-calendar" alt="Kalendarz"/> -->
                        </label>
                        <label class="types" for="man">
                        <input id="man" type="checkbox" name="menu_types" value="man"/>
                        <img src="{% static "img/coswiecej2_01_18.png" %}" class="main-form-up man menu" alt="Mężczyzna"/>
                        </label>
                        <label class="types" for="woman">
                        <input id="woman" type="checkbox" name="menu_types" value="woman"/>
                        <img src="{% static "img/coswiecej2_20.png" %}" class="main-form-up woman menu" alt="Kobieta"/>
                        </label>
                        <label class="types" for="kid">
                        <input id="kid" type="checkbox" name="menu_types" value="kid"/>
                        <img src="{% static "img/coswiecej2_01_22.png" %}" class="main-form-up kid menu" alt="Dziecko"/>
                        </label>
                         <label class="types" for="summer">
                        <input id="summer" type="checkbox" name="menu_types" value="summer"/>
                        <img src="{% static "img/coswiecej2_24.png" %}" class="main-form-up summer menu" alt="Summer"/>
                        </label>
                         <label class="types" for="autumn">
                        <input id="autumn" type="checkbox" name="menu_types" value="autumn"/>
                        <img src="{% static "img/coswiecej2_25.png" %}" class="main-form-up autumn menu" alt="Jesień"/>
                        </label>
                         <label class="types" for="winter">
                        <input id="winter" type="checkbox" name="menu_types" value="winter"/>
                        <img src="{% static "img/coswiecej2_27.png" %}" class="main-form-up winter menu" alt="Zima"/>
                        </label>
                         <label class="types" for="spring">
                        <input id="spring" type="checkbox" name="menu_types" value="spring"/>
                        <img src="{% static "img/coswiecej2_29.png" %}" class="main-form-up spring menu" alt="Wiosna"/>
                        </label>
                        <img src="{% static "img/coswiecej2_31.png" %}" class="main-form-up coupon menu" alt="My image"/>
                        <img src="{% static "img/coswiecej2_01_32.png" %}" class="main-form-up" alt="My image"/>
                    </div>
                </fieldset>

            <div class="row36">

            </div>
             <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
             </form>
            <div class="row3">
                <div class="span20">
                    <div class="random-offers">
                        Reklama zmienna
                    </div>
                </div>
                <div class="span21">
                    <img src="{% static "img/navigation/coswiecej2_137.png" %}" class="main-navigation-right"/>
                </div>

            </div>
            <div class="row3">
                <div class="span20">
                    <div class="random-offers">
                        Reklama zmienna
                    </div>
                </div>
                <div class="span21">
                <a href="about_us/" class="popUp" id="aboutUs">
                    <img src="{% static "img/navigation/coswiecej2_139.png" %}" class="half-navigation"/>
                </a>
                    {%  if user.groups.all.0|stringformat:"s" == 'company' %}
                    <a href="for_company/" class="popUp" id="forCompany">
                    <img src="{% static "img/navigation/coswiecej2_141.png" %}" class="half-navigation"/>
                    </a>
                    {% else %}
                    <img src="{% static "img/navigation/coswiecej2_141_blank.png" %}" class="half-navigation"/>
                    {% endif %}
                </div>
            </div>
         {%  if user.groups.all.0|stringformat:"s" == 'user' %}
            <div class="row31">
                <div class="span311">
                    <img src="{% static "img/navigation/coswiecej2_144.png" %}" class="navigation-bottom-left-column"/>
                    <img src="{% static "img/navigation/coswiecej2_155.png" %}" class="navigation-bottom-left-column"/>
                    <img src="{% static "img/navigation/coswiecej2_160.png" %}" class="navigation-bottom-left-column"/>
                </div>
                <div class="span312">
                </div>
                <div class="span313">
                </div>
                <div class="span314">
                    <img src="{% static "img/navigation/coswiecej2_146.png" %}" class="navigation-bottom-right-column"/>
                    <img src="{% static "img/navigation/coswiecej2_156.png" %}" class="navigation-bottom-right-column"/>

                </div>
            </div>
    {% endif %}

        </div>

        <div class="span5">

            <div class="row51">

                <div class="map" style="width: 700px; height: 520px;"></div>

            </div>

        {%  if user.groups.all.0|stringformat:"s" == 'user' %}

            <div class="row52">
                <table class="table-main">
                    <tr>
                        <th><b></b></th>
                        <th><b>Wybierz ilość gwiazdek</b></th>
                        <th><b>Ilość ocen</b></th>
                        <th><b>Nazwa</b></th>
                        <th><b>Miasto</b></th>
                        <th><b>Odległość (mapa)</b></th>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                        <td>Nic</td>
                    </tr>
                </table>

            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
