{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap_toolkit %}



<!DOCTYPE html>
<html>
<head>
    <title></title>
     <script type="text/javascript" src="{% static "js/jquery.form.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/shop.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/offer.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/promotion.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/slides-change.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/company/category-click.js" %}"></script>
    <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
</head>
<body>
    <div class="span445">
        <div id="dialog2" title="Basic dialog"
             style="height:680px;float:center;background-color:#fff9d5;border:10px;border-color:#297d7d;border-style:solid;">

            <span class="id-shop-name">
                </span>
                <span class="id-shop-description">
                </span>

            <div class="row901">
                <img src="{% static "img/companies/1383665855_home.png" %}" class="" alt="My image"/>
                 <span class="companies_font">Adres:</span>
                 <span class="id-shop-city">
                </span>
                <span class="id-shop-address-street">
                </span>
                 <span class="id-shop-address-street-flat">
                </span>
            </div>
            <div class="row901">
                <img src="{% static "img/companies/1383665649_clock.png" %}" class="" alt="My image"/>
                <span class="companies_font">Godz. otwarcia:</span>
                <span class="id-shop-open">
                   <span class="companies_font">pon.</span><span class="hours" day="monday"></span>wt. <span class="hours" day="tuesday"></span>śr. <span class="hours" day="wednesday"></span>czw. <span class="hours" day="thursday"></span>pią. <span class="hours" day="friday"></span>sob. <span class="hours" day="saturday"></span>nd. <span class="hours" day="sunday"></span>
                </span>
            </div>
            <div class="row901">
                <div class="span900">
                    <img src="{% static "img/companies/1383666575_contact.png" %}" class="" alt="My image"/>
                    <span class="companies_font">Tel.:</span>
                    <span class="id-shop-phone">
                </span>
                </div>
                <div class="span901">
                    <img src="{% static "img/companies/1383666555_website.png" %}" class="" alt="My image"/>
                     <span class="id-shop-www">
                </span>
                </div>
                <div class="span901">
                    <img src="{% static "img/companies/1383666114_mail.png" %}" class="" alt="My image"/>
                     <span class="id-shop-email">
                </span>
                </div>
            </div>
            <div class="row902">
                <div class="promotion_title">
                <h3>Promocja:</h3>
                    </div>
                <div id="buttons">
                    <a href="#" id="prev">prev</a>
                </div>
                 <div id="buttons">
                    <a href="#" id="next">next</a>
                </div>
                <ul class="slider-promotion" id="id-slider-promotion">
                </ul>
            </div>
            <div class="row902">
                <div class="promotion_title">
                   <h3>Oferta stała:</h3>
                    </div>
                <div id="buttons">
                    <a href="#" id="prev-permanent">prev</a>
                </div>
                <div id="buttons">
                    <a href="#" id="next-permanent">next</a>
                </div>
                <ul class="slider-permanent" id="id-slider-permanent">
                </ul>

            </div>
            <!--
            <div class="row902">
                <div id="buttons">
                    <a href="#" id="prev-coupon">prev</a>
                </div>
                <ul class="slider-coupon" id="id-slider-coupon">


                </ul>
                <div id="buttons">
                    <a href="#" id="next-coupon">next</a>
                </div>
            </div> -->
        </div>
    </div>
</body>
</html>