<html>
<head>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script>
    jQuery(document).ready(function() {
        var latlng = new google.maps.LatLng({{ latitude }}, {{ longitude }});
        var mapOptions = {
            zoom: 15,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(jQuery('.map')[0], mapOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"Jesteś tutaj"
        });

        {% for shop in shops %}
            latlng = new google.maps.LatLng({{ shop.location.y }}, {{ shop.location.x }});
            new google.maps.Marker({
                position: latlng,
                map: map,
                title:"{{ shop.name }}"
            });
        {% endfor %}
    });
</script>

</head>
<body>
{{ latitude|stringformat:"f"  }} {{ longitude|stringformat:"f"  }}
<div class="map" style="width: 500px; height: 500px;"></div>

{% if shops %}
    <h2>Sklepy niedaleko Ciebie</h2>
    <ul>
        {% for shop in shops %}
            <li><b>{{ shop.name }}</b>: distance: {{ shop.distance }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>